[2020-11-05 14:17] H34D commented on #268
fixed

[2020-11-05 14:17] #268 closed

[2020-11-05 14:47] pingustar commented on #426
@Velua I have updated the `calculateProtectionLevel` function in commit 72ef000 to include the cliff time in the percentage - please review

[2020-11-05 17:02] yudilevi opened #483 "Amount validation doesn't handle commas well"
It's possible to paste a value with commas that lead to all kinds of errors

Commas should be stripped from pasted values.

[2020-11-06 14:34] #352 closed

[2020-11-06 16:43] pingustar commented on #426
I have updated the design to be more aligned with the mockup.

- I have removed the tabs
- moved the Claim section below the protected table
- updated the intial stake column
- updated the full coverage process bar

the latter is still work in progress. I need to do some more testing and cleanup.

@ashachaf current state is up on staging, if you wanna take a look.

[2020-11-06 16:58] pingustar commented on #151
Current status:

I was able to replicate the original features using dynamic slots for the cells. Next up applying the learned knowledge to do the same with the table head.

Will let you know when I am done @Velua for review. Once review passed, I will replace all old tables with the new ones.

[2020-11-09 03:32] Velua commented on #151
Awesome stuff! @pingustar

[2020-11-09 07:26] Velua commented on #61
@pingustar bump

[2020-11-09 07:53] #416 closed

[2020-11-09 08:25] ashachaf opened #486 "token balance refresh and update"
swap bnt->ocean
navigate to pool -> join a pool -> ocean/bnt -> single side staking -> ocean
expected: see my new balance without refreshing the page.

![image](https://user-images.githubusercontent.com/40430285/98516833-b221a700-2275-11eb-89e0-4bbc8fb4b6de.png)
after refresh:
![image](https://user-images.githubusercontent.com/40430285/98516914-cfef0c00-2275-11eb-9ac0-1700c3b4abad.png)

[2020-11-09 09:00] sirius651 commented on #464
The current situation I have approached for VueX and component testing is to remove the existing coupled vuex-class-component and make sure it can be replaced.
First off, I used with pure vuex modules such as Module, GetterTree, MutationTree, ActionTree. but, it made a boilerplate code a bit.
So, I reached out that as a good combination, vuex uses vuex-module-decorator, and vue-class in components

[2020-11-09 09:09] ashachaf opened #487 "allow user to fill entire single side staking available"
on add liquidity protection popup
when clicking the space available balance, input this value into the stake amount field.

![image](https://user-images.githubusercontent.com/40430285/98521155-bfda2b00-227b-11eb-882d-02e52577fafb.png)

[2020-11-09 09:34] H34D opened #488 "Allow optional chaining operator in linting"
make sure this works in the linter: if (!params || params?.tokens?.length == 0)

[2020-11-09 09:34] H34D opened #489 "Fix Cannot read property 'map' when linting"
error: Parsing error: Cannot read property 'map' of undefined at src/store/modules/network/index.ts

[2020-11-09 10:35] #61 closed

[2020-11-09 10:44] pingustar commented on #418
info text added for both pages.

[2020-11-09 10:44] #418 closed

[2020-11-09 11:11] pingustar commented on #487
functionality added.

[2020-11-09 11:11] #487 closed

[2020-11-09 11:12] H34D commented on #467
fixed

[2020-11-09 11:12] #467 closed

[2020-11-09 11:35] pingustar commented on #277
fixed active route styling and also clicking behaviour to bring you back to the main page.

[2020-11-09 11:35] #277 closed

[2020-11-09 11:36] pingustar commented on #151
Component is done and ready for review.

[2020-11-09 11:39] pingustar commented on #426
Progress bar and percentage is fixed.

@Velua ping me once we have the data to finish this off.

[2020-11-09 11:50] pingustar commented on #459
changed link behaviour for eos.

[2020-11-09 11:50] #459 closed

[2020-11-09 11:57] pingustar commented on #462
I have updated the routing for the swap and fixed a few edge cases.

Should work now. Closing this.

[2020-11-09 11:57] #462 closed

[2020-11-09 12:09] ashachaf commented on #277
nice!

[2020-11-09 12:10] ashachaf commented on #487
good stuff

[2020-11-09 12:13] ashachaf opened #492 "data table update columns to include protected APR"
in our efforts to show protected APR, we would like to update the data table and include 2 new columns.
protected apr
unprotected apr
~~removing "fees" column as all pools should have the same fee setup (as of bip 4).~~

https://www.figma.com/file/3yED7o7TgoLwoEjV2EkRLL/Bancor-V2?node-id=1072%3A0

tool tips: (@nhindman23 )
- protected apr
- unprotected apr

[2020-11-09 12:27] ashachaf opened #494 "single side liquidity staking - confirmation popup text change"
text update:
new text - "You are staking and protecting:"

![image](https://user-images.githubusercontent.com/40430285/98541089-8b746800-2297-11eb-954b-ffd322f31eda.png)

[2020-11-09 12:39] ashachaf commented on #426
@pingustar
updated tool tips:

Current Coverage (the column title for the counter coverage bar):
The impermanent loss protection you have accrued. Impermanent loss protection starts 30 days after your deposit, at a rate of 30% and gradually increases 1% per day until you reach 100% protection.

Cliff: Impermanent loss protection starts 30 days after your deposit, at which point the "cliff" is reac

[2020-11-09 21:44] Velua commented on #151
Cheers @pingustar

[2020-11-10 00:39] Velua commented on #486
Saw a bug where balances were being fetched but failing to get set.
Conversions and add liquidity protection will now trigger multiple balance fetches over several seconds to make sure the latest is received.

[2020-11-10 00:39] #486 closed

[2020-11-10 00:58] Velua opened #497 "Funky tooltip behaviour"
In this video - https://streamable.com/51q0y1

We can see that when I mouse over the tooltip for the other item comes up instead, I've seen this happen when there isn't a unique key set per tooltip component.

[2020-11-10 08:13] Velua commented on #492
Let's discuss this one @ashachaf

[2020-11-10 09:24] pingustar commented on #426
updated the tooltips.

[2020-11-10 09:24] ashachaf opened #499 "dual sided add liquidity - flow update"
since we've noticed more people would like to stake for protection immediately as they add liquidity even if they add both tokens, we would like to make it easier and atomic to stake and immediately protect your pool tokens.

data->add liquidity
https://www.figma.com/file/3yED7o7TgoLwoEjV2EkRLL/Bancor-V2?node-id=1002%3A152

update the dual sided text

data->add liquidity -> dual side
https://www.f

[2020-11-10 09:26] pingustar commented on #497
This is most likley because the table is restricting the space to display the tooltips. I had a similar problems on another project with dropdowns inside a table.

Looking into it.

[2020-11-10 09:29] ashachaf commented on #426
@pingustar did you also add the tool tip to the column title?

[2020-11-10 09:44] pingustar commented on #426
Yes, added column title tooltip for current coverage.

And updated cliff tooltip.

Is it now showing on staging for you?

[2020-11-10 10:59] #488 closed

[2020-11-10 10:59] #489 closed

[2020-11-10 11:08] ashachaf commented on #426
i see it now.

[2020-11-10 11:10] ashachaf commented on #492
please note, we would like to keep the "fee" column.

[2020-11-10 12:35] yudilevi opened #501 "Report removeLiquidityReturn failures to sentry"
Not sure this is the case but since the contract has to deal with a very wide range of values/precisions in the various calculations, we want to know if users experience failures due to overflows/underflows.
So it's critical that we can track these kind of issues in case there's an issue in the contract.

[2020-11-10 13:28] ashachaf opened #502 "1year fee / liquidity data pull update"
in order to calculate the 1y fees/liquidity correctly, we need to make sure we follow this process:

current (incorrect flow):
- calculate 24h volume from BancorNetwork
- multiply the above with current fee on the pool
this is incorrect as when the fee is changed in the pool, it will also change the "history" as we calculate it.

updated flow:
- pull all conversion events from the pool converter c

[2020-11-10 13:32] Velua commented on #502
So we do want to add another 30+ requests for all conversion events for all whitelisted pools on the initial page load?

[2020-11-10 13:39] yudilevi commented on #502
I would only do that per page but I imagine this is also a pretty significant overhead.
This will soon move to an API call but until then - how much overhead are we talking about here?

[2020-11-10 13:49] ashachaf commented on #426
@pingustar
in the "protected value" data,  we have a percentage increase indication.
this should represent the increase in value over the original stake.

calculating this:
(protected value / staked value -1) = percentage in decimals.
example:
(101.11/100-1)= 0.0111 -> turning to percentage, multiple this value by 100 -> 0.0111*100=1.11%.
(turning to ppm, multiple by 1000000 and trim the decimal p

[2020-11-10 15:13] ashachaf opened #503 "when creating a transaction - use higher gas settings for the user"
currently, when we build a transaction it defaults to "slow" gas price settings on metamask. this can cause transactions to take 10+ min to. execute.
we should aim to set it for medium at least as a default value.

how to get the gas price from web3:
web3.eth.getGasPrice

what value to pass to metamask:
Medium - getGasPrice ÷ 2

[2020-11-10 15:20] ashachaf opened #504 "stake for protection error"
following a protection contract update (might be the reason)
stake for protection:
1. approve
2. stake for protect. this is what i see. extremely high transaction
![image](https://user-images.githubusercontent.com/40430285/98693335-d4501d80-2378-11eb-8aa6-ac07c2daf67e.png)
3. reject
4. stake again -> now the transaction is fine.

[2020-11-10 15:28] pingustar commented on #504
I was not able to reproducing this.

Do we have more info? Does it happen always?

[2020-11-11 00:53] Velua commented on #503
I can see [getGasPrice](https://web3js.readthedocs.io/en/v1.2.11/web3-eth.html#getgasprice), but what is ```Medium - getGacePrice ÷ 2```?

Where is ```Medium``` coming from? Where's the 2 number come from?

[2020-11-11 01:03] Velua commented on #492
What is Protected APR and Unprotected APR and how do we calculate that?

Is @nhindman23 going to post the tooltips then?

[2020-11-11 01:13] Velua commented on #502
I can further investigate how flexible the alchemy API is, perhaps it would support pulling from several contract sources so we don't have to do a individual request for every whitelisted converter there is.

However, if we did, we could possibly get all the liquidity events that go along with it, render that on the home page too.

How much time do we want to commit to this if we're also working o

[2020-11-11 02:34] Velua opened #506 "Review Lodash imports"
Currently we've added the entire ```lodash``` library while only using a handful of functions, Lodash also publishes each function in their own npm package like [filter](https://www.npmjs.com/package/lodash.filter), etc.

An issue presented this previously was that type definitions weren't being exported, investigate a solution where we can keep them.

[2020-11-11 07:20] ashachaf opened #509 "n/a indication in data and protection tables"
we have reports of n/a and NaN indication on both data and protection tables.
we are trying to debug this and would like to better understand what might be the process that UI follow to show these values.

data table - what values are triggering n/a (or what flows are not supported and result in this value)
protection table - what triggers NaN value

![image](https://user-images.githubusercontent.

[2020-11-11 07:58] ashachaf commented on #509
on staging+mainnet
![image](https://user-images.githubusercontent.com/40430285/98784854-63564780-2404-11eb-845a-e12d56314c9b.png)

[2020-11-11 08:00] ashachaf commented on #509
on production
![image](https://user-images.githubusercontent.com/40430285/98785025-a6b0b600-2404-11eb-980e-6843b5d38ac3.png)

[2020-11-11 08:34] Velua commented on #509
Deploying hotfix to prod now

[2020-11-11 09:00] ashachaf commented on #426
@Velua after checking this again, there is an updated calculation we should be using to extract the fees.

using the data you have extracted already:
Sqrt((opposingDepositedReserveCurrentBalance / depositedReserveCurrentBalance)/AddRate)*depositedReserveCurrentBalance/currentPoolTokenSupply* originalPoolTokenAmount -depositedAmount

due to rounding errors and differences with SMA rates, there is a

[2020-11-11 09:10] ashachaf commented on #509
staging+mainnet

![image](https://user-images.githubusercontent.com/40430285/98791969-78d06f00-240e-11eb-9d59-4be09a155964.png)

![image](https://user-images.githubusercontent.com/40430285/98792002-838b0400-240e-11eb-9a99-b8c77a6fb811.png)
![image](https://user-images.githubusercontent.com/40430285/98792026-8be33f00-240e-11eb-9922-6dbef4a605b8.png)

[2020-11-11 09:14] Velua commented on #509
You're seeing those $0 and N/A on prod? I don't care about the staging status for now

[2020-11-11 09:32] pingustar commented on #390
new table component fixes this. Will be applied to all tables in the coming days. Closing this.

[2020-11-11 09:32] #390 closed

[2020-11-11 09:33] pingustar commented on #151
merged to staging. PoolTable on data page is updated as reference. The other tables are following quickly now.

[2020-11-11 09:35] pingustar commented on #351
fixed and on staging. Please open new issue if I have missed it somewhere.

[2020-11-11 09:35] #351 closed

[2020-11-11 09:47] ashachaf commented on #426
protected value update:
given the indication above (average vs pool price), fully protected value should also change a bit.
calculate fully protected value.
check, if fully protected reserve amount < initial staked reserve amount, display initial staked reserve amount.

claimable value,
calculate claimable value
check, if current time - initial stake time > maxProtectionDelay
  check, if claimable

[2020-11-11 10:04] ashachaf commented on #426
@pingustar
tool tips are not aligned correctly (text to column).

please see correct text/column here (updated)

Tool tips:

Initial stake = amount of tokens you originally staked in the pool
Protected value = amount of tokens you can withdraw with 100% protection + fees
Claimable value = amount of tokens you can withdraw right now (assuming you have not earned full protection, this value will be

[2020-11-11 10:08] Velua opened #512 "Give Infura the pillow"
Infura has failed us.

Kill all reference and dependencies on it's service and go all in on Alchemy.

[Status page](https://status.infura.io/) for Infura for reference

[2020-11-11 10:13] Velua commented on #509
I'm an idiot, ignore my last comment.

Hotfix now sent to staging, will be reflective in the staging build soon.

[2020-11-11 10:16] Velua opened #513 "Hung load on production"
## Problem
Experiencing a hung load or really long load time on production

#512 was recently requested as Infura is experiencing outages, possible dependency on the API causing this fault.

[2020-11-11 10:47] ashachaf commented on #426
@Velua fees calculation results:

      originalPoolTokenAmount: "1370909146698872748",
      currentPoolTokenSupply: "11338379267323634752139485",
      depositedAmount: "3874264344838181",
      depositedReserveCurrentBalance: "10932903826342227802656",
      opposingDepositedReserveCurrentBalance: "6847120160277936759163837",
      reserveRate: "290.61911993101308091657"
      // current result

[2020-11-11 11:09] Velua commented on #513
I'm expecting these two to resolve the issue when building has finished.

@H34D after your efforts to re-sync ```staging``` and ```master``` can you ensure these two branches / PR's are included?
I wanna go home.

[2020-11-11 11:47] Velua commented on #513
Now using Alchemy for all requests and this is working OK.

Remaining issue seems to be positions failing to get fetched or calculated therefore not being presented on the screen.
Please investigate, top priority.

[2020-11-11 14:59] H34D commented on #513
should be done #515

[2020-11-11 14:59] #513 closed

[2020-11-11 15:23] yudilevi opened #519 "Governance menu item doesn't open discourse anymore"
In addition, once it's clicked, all other menu items are broken.

[2020-11-11 15:23] H34D opened #520 "External menu links are disfunctional"
<img width="214" alt="Screenshot 2020-11-11 at 16 22 54" src="https://user-images.githubusercontent.com/13647606/98830019-33299b80-243a-11eb-9408-a9d5e6930743.png">

When clicking on governance or bancor x nothing happens

[2020-11-11 15:24] H34D commented on #519
closed in favor of #520

[2020-11-11 15:24] #519 closed

[2020-11-11 15:25] yudilevi commented on #520
Once the governance item is clicked, other menu items also stop functioning

[2020-11-11 16:00] H34D commented on #512
done, killed where ever i can kill it. Still metamask uses underneath but we can strangle this out to only use it for transactions and not loading of data

[2020-11-11 16:00] #512 closed

[2020-11-12 03:06] Velua commented on #512
I don't think we have to go that far, if Infura is used by MetaMask then that's fine. Just wanted to get rid of our dependency on it, only so much we can do if users wallets are using certain endpoints. Infura is expected to be operational now.

[2020-11-12 07:42] ashachaf commented on #509
production+mainnet
![image](https://user-images.githubusercontent.com/40430285/98910050-53ee0180-24cb-11eb-9e1a-9037cb9bda61.png)

[2020-11-12 08:04] ashachaf commented on #426
![image](https://user-images.githubusercontent.com/40430285/98912189-6b7ab980-24ce-11eb-8ed3-9e30b85e6130.png)

[2020-11-12 08:24] ashachaf commented on #426
some USD value of the claimable value is larger than fully protected value.
example:
protected value: 129.27 tkn (~$73.05)
claimable value: 129.22 tkn (~$72.28)
while tkn amount is lower, the usd value is higher.

![image](https://user-images.githubusercontent.com/40430285/98914157-fb216780-24d0-11eb-80ed-f6041981921c.png)

[2020-11-12 08:30] sirius651 opened #521 "Changing from moment.js to day.js"
Current file size of `moment.js` without locale module is **59 kb** (with : 257kb).
But, [day.js](https://day.js.org/) is only **6.3kb**.

So, we can reduce size more.

[2020-11-12 08:59] Velua commented on #426
In staging there is a file ```pureHelpers.ts``` where we are doing the math for https://github.com/bancorprotocol/webapp/issues/426#issuecomment-717061509 this needs to be updated to reflect the new formula posted [here](https://github.com/bancorprotocol/webapp/issues/426#issuecomment-725351154)

Please write a test as Asaf has demonstrated in the file ```TestHelper.spec.ts``` so we know it's good

[2020-11-12 09:27] ashachaf opened #522 "24fee calculation based on existing data"
allow frontend. to. keep a list of when we change fee
use the correct fee percentage based on the event timestamp.

calculate the fee from every conversion event and sum the fee together to show 24h fees.

[2020-11-12 10:05] H34D opened #523 "Log response size exceeded. Please reduce query block range."
When fetching logs with `eth_getLogs` and the amount of data is too big alchemy will return `Log response size exceeded. Please reduce query block range.`

Url: https://eth-mainnet.alchemyapi.io/v2/_gHhOgCqAFaa8f35R1PeHmpHx1E-zVcN

Request:
[code]

[2020-11-12 10:23] H34D commented on #509
fixed it was caused by request limits on alchemy: #523

[2020-11-12 10:23] #509 closed

[2020-11-12 10:26] yudilevi opened #524 "When removing single sided BNT liquidity, add vBNT approval"
We are changing the token permission system and the protection contract will not be able to burn vBNT anymore without specific permissions.
This means that when removing vBNT, the frontend needs to also generate an approve tx for it, based on the staked BNT amount in that specific position.

[2020-11-12 10:36] ashachaf commented on #502
duplicated with #522

[2020-11-12 11:37] ashachaf commented on #426
@pingustar
in some cases the ROI is NaN%.
it might be related to the fact that the ROI is 0 or smaller.
if this is the case, please indicate 0.00%

![image](https://user-images.githubusercontent.com/40430285/98935390-21a0cc00-24ec-11eb-8f42-909dd3169770.png)

[2020-11-12 11:56] ashachaf commented on #492
protected APR (we will calculate it based on 7days)
https://docs.google.com/document/d/1sE1AMPD7wfz1_kgb3jxEabNOUheTB2TfG1VCdid7teo/edit#heading=h.70bpehp3em80
(we have already done this for the data table and hide it, average of both reserves)

unprotected APR:
1. calculate the worth of pool token in primary and secondary reserve token today
2. calculate the worth of pool token in primary and sec

[2020-11-12 12:10] ashachaf opened #525 "withdraw popup text update"
on the withdraw popup, please update the following texts (and logic on how to display them):

1. warning text (orange text).
- check, IF user withdraw BNT position:
current text:
**Important**
You still haven’t reached full coverage. There is a risk for impermanent loss.
updated text:
**Important**
You still haven’t reached full protection. There is a risk for impermanent loss and you might receiv

[2020-11-12 13:32] ashachaf commented on #492
tool tips:
protected APR: 7d fees/liquidity annualized with Bancor’s impermanent loss protection
unprotected APR: 7d fees/liquidity annualized without Bancor’s impermanent loss protection

[2020-11-12 13:56] pingustar commented on #426
fixed. ROI NaN issue. Added handling for < 0.01% amounts

[2020-11-12 14:09] pingustar commented on #426
I have updated the formula. Result values are all below 0. Have tested with 6 positions. Still investigating. Fees column is hidden until then.

[2020-11-12 14:30] H34D commented on #523
They have hard limits on blocks:

[code]

[2020-11-12 14:30] H34D commented on #523
we should try batching request in 2k blocks batches @Velua

[2020-11-12 14:55] ashachaf commented on #232
@Velua is this task done? or was it covered in another place?

[2020-11-13 06:00] Velua commented on #502
This issue outlines the current approach and a suggested solution, can't just end it's discussion and jump the gun onto a solution from nowhere.

When and who decided this was the best approach? Was it discussed and approved by a dev team member?

I can't tell the difference between the original request on this post compared to #522 has. Was @H34D aware of this context and this discussion?

[2020-11-13 06:01] Velua commented on #502
And in the case of duplicates this one being older should be regarded as the parent, #522 as the child, therefore #522 closed instead of this one.

[2020-11-13 06:07] Velua commented on #523
Yeah that's annoying, will have to chunk in block sizes of 2,000, given we want about 6,000 ish then we'll need 3 concurrent requests, think our limit is 30 API key wide.

We'll be able to make this smoother with any failures going in as retries on an Observable.

[2020-11-13 08:27] Velua commented on #502
@ashachaf We're ready to accommodate hardcoded historical pool fees.

[2020-11-13 08:50] Velua commented on #524
So new strategy is when removing a protection position against the **liquidity protection** contract, check to see if the position was made against the network token **BNT** if so, trigger an approval against the **vBNT** token contract allowing the same ** liquidity protection** contract to act as spender, for the amount of the position with adjustments based on the % the user has specified they'

[2020-11-13 09:10] pingustar commented on #520
fixed, deploying to staging now.

[2020-11-13 09:10] #520 closed

[2020-11-13 09:13] Velua commented on #502
@ashachaf we're now set at 1% fees for trades before block number ```11248429```

[2020-11-13 09:25] pingustar opened #531 "Protected Table - Fees column"
- [x] update formula
- [x] add formula test
- [x] add fee to getter `protectedLiquidity` in `ethBancor` / find out why its not displayed
- [x] investigate calculated value for correctness and edge cases (decimal precision)
- [x] update table design to accommodate new column "Fees" - table width to little with current design

### Formula

Sqrt((opposingDepositedReserveCurrentBalance / depositedRese

[2020-11-13 09:28] pingustar commented on #426
@ashachaf closing this as this issue is 99% done and getting to big. Remaining "Fees column issue" moved to new task: #531

[2020-11-13 09:28] #426 closed

[2020-11-13 09:33] Velua commented on #406
![Screenshot at 2020-11-13 19:30:29](https://user-images.githubusercontent.com/8017434/99057104-0b2b6b00-25e7-11eb-94dd-0e8d1af3e289.png)

This is also reflective on unstake, I imagine it's just using the same component.

[2020-11-13 09:40] pingustar commented on #290
@ashachaf is this still a request? Reopen if so.

Current design is based off of [this mockup](https://www.figma.com/file/3yED7o7TgoLwoEjV2EkRLL/Bancor-V2) mentioned in #426

[2020-11-13 09:40] #290 closed

[2020-11-13 10:04] pingustar opened #532 "FTX Token Pool name incorrect"
FTX Pool is displayed as `FTX Token/BNT ` instead of `FTT/BNT`. It does not seem to cause the transaction to fail since there is trade volume on this pool shown in the data table.

![image](https://user-images.githubusercontent.com/7262066/99060014-b3b5dc80-259f-11eb-8598-f04c2ed21019.png)

[2020-11-13 10:48] Velua opened #533 "Less or no concurrent requests for positions"
Currently in ```ethBancor.ts```  on lines...

      const ids = await contract.methods.protectedLiquidityIds(owner).call();
      const allPositions = await Promise.all(
        ids.map(id => protectionById(liquidityStore, id, this.currentNetwork))
      );

We are fetching all positions concurrently, this isn't a big deal with 2 or 3 positions but anyone with 10 in either main-net or ropsten can

[2020-11-13 10:50] pingustar commented on #406
fixed for both Stake and Unstake.

[2020-11-13 10:50] #406 closed

[2020-11-13 10:54] Velua opened #534 "Perform base tests"
Given the recent updates it's not entirely certain how reliable testing **Ropsten** is on the app at the moment.

Please attempt
- [x] Swap from one token to another.
- [x] Creating a protection position.

Advise @yudilevi upon completion.

[2020-11-14 00:25] Velua commented on #502
Given @H34D has already made his work in #522 I'll conclude this one now we've implemented the hardcoded pool fees and consider #522 as the long term solution.

[2020-11-14 00:25] #502 closed

[2020-11-14 00:30] Velua commented on #522
Some back story,

Currently the implemented solution just loops over network conversion events and considers the **current** fee % set on pools as truth, however, in cases where the pool has changed fees in the past 24 hours these fees are considered in accurate.

In #502 we implemented a bandaid solution where pool fees can be hardcoded with a blocknumber which gets us out of trouble for now.

Ou

[2020-11-14 03:21] Velua opened #535 "Experiment with Telegram / GitHub notification Action"
[This](https://github.com/GokulDas027/TelegramBridge) looks cool, implement it and see if this would be good for the team.

Testable chat ID: ```-480393888```

[2020-11-14 03:22] Velua commented on #535
- [ ] Add .yml file
- [ ] Enter Telegram bot API key in secrets
- [ ] Enter Chat ID in secrets

[2020-11-14 03:23] Velua commented on #535
Awaiting further permissions on repo to configure secrets.

[2020-11-14 03:23] Velua opened #536 "Create issues template"
Issue templates will be helpful for getting relevant information for the team to take on and action

[2020-11-14 03:25] Velua commented on #536
I'm currently awaiting further permissions on the repo to configure this.

@sirius651 @pingustar @H34D lets discuss.

[2020-11-14 03:29] Velua opened #537 "Define release cycle"
Our current release cycle / strategy is ambiguous.

-------
From @H34D
Define and implement a release process. This can be a release cycle (every x days staging gets deployed to prod) or a continuous deployment (requires feature specific environments) strategy.
Decision to make: Which release process to use? Once this is decided we can define steps to reach the goal.
1.  Use release cycle based de

[2020-11-14 03:30] Velua opened #538 "Rename isAuthenticated variable"
The variable ```isAuthenticated``` has to be one of the most popularly used however traditionally **"is"** in variable names is a ```boolean``` whereas this variable is either a ```string``` or ```false```.

Rename to something more fitting and easier to understand to new devs.

[2020-11-14 03:36] Velua commented on #537
I like the idea of release cycles as they can let us define a release time say on a Wednesday where we can carry extensive tests prior to launching to production.

What would the ```git``` workflow look like in continuous deployment? Would we still have ```staging``` or spin up mini ```staging``` branches before deploying straight to ```master``` @H34D

[2020-11-14 03:58] sirius651 commented on #536
There was time when I contributed to `status-react`, and it looked useful for suggesting issue.
[https://github.com/status-im/status-react/issues/new/choose](https://github.com/status-im/status-react/issues/new/choose)

# Problem

An overview of the background required to understand the problem.
A problem description.

## Implementation

Known steps towards feature implementation.
What needs furth

[2020-11-14 13:31] yudilevi commented on #534
The app doesn't seem to show any pools in the main data page for me

[2020-11-14 13:37] yudilevi commented on #534
potentially the alchemy whitelist

[2020-11-15 04:52] Velua opened #539 "test"

[2020-11-15 05:00] Velua commented on #539
fwe

[2020-11-15 05:03] #539 closed

[2020-11-15 07:55] ashachaf commented on #503
please use this default value when creating a transaction.
1. it seems that getGasPrice returns the "standard" speed cost.
2. we've noticed that standard speed tend to be 5+. min long
3. for this, we would like to suggest a higher gas price for the user/transaction.

gasPrice value = getGasPrice*1.3
(indicating 30% increase on "standard" speed)

[2020-11-15 08:12] ashachaf opened #540 "add liquidity popup text updated"
protection->stake->dual sided stake and protect -> eth/bnt
when opening the add liquidity popou in this flow, we should update the "warning" text.
current:
If pool ratio will be changed during protection period - you’ll receive change value in BNT.

updated: remove the entire text with its box.

![image](https://user-images.githubusercontent.com/40430285/99179953-d0325000-272a-11eb-985b-165d9b8c80

[2020-11-15 14:17] ashachaf opened #541 "broken link - update discord menu link"
discord link: https://discord.gg/EHK8wHbgau

where: menu icono.
![image](https://user-images.githubusercontent.com/40430285/99187228-04733400-275e-11eb-8fd8-4ae35336c6ae.png)

[2020-11-16 01:17] Velua commented on #538
Current proposal is ```currentUser```

[2020-11-16 01:19] Velua commented on #151
As much as I wanna keep this closed and move on with life, I want to make sure we don't half complete the job.
@pingustar Have we finished migrating all the tables?

Otherwise do some
- [ ] Dot
- [ ] points.

In a new comment on this issue and we'll finish the struggle.

[2020-11-16 01:26] Velua opened #542 "Create test examples"
Following completion of #464 find 3 components

- A component which has a table in it
- A component which handles something like conversions or add liquidity.
- A dead simple component, almost able to be a functional one if we wanted.

And add tests to it, each of the tests should set a gold standard for other developers to follow.
May have a quick huddle with the team show casing the change and h

[2020-11-16 01:27] Velua commented on #464
@sirius651 can we consider this one done?

[2020-11-16 01:38] Velua commented on #535
Now up and running.

[2020-11-16 01:38] #535 closed

[2020-11-16 01:38] Velua commented on #524
Now pushing to prod in #543

[2020-11-16 02:37] Velua commented on #464
Currently in a meeting with Will, we're happy to close this now.

[2020-11-16 02:37] #464 closed

[2020-11-16 02:40] Velua commented on #536
This example looks nice, lets add it now and modify is we want something changed or polished off.

[2020-11-16 02:41] Velua commented on #506
This has already been done in a previous PR.

[2020-11-16 02:41] #506 closed

[2020-11-16 02:44] Velua commented on #431
@pingustar bump.
@H34D you may be aware of one here too.

[2020-11-16 02:49] Velua commented on #533
@H34D I feel like this would be a good exercise for you as you might have to create a "shape" for it unless I've already done so somewhere.

Feel free to suggest something better than "shape" too, schema might be better...

[2020-11-16 03:05] Velua commented on #346
```RX.JS``` successfully performing a page load OK, currently caching the anchor and converter sets. Working OK given they're inline with what's live however more testing required to map out handling of expired pairs and their removal.

Consider using a ```partition``` pipe which will know which ones passed and should be considered to be re-loaded.
Be mindful of a cleaner approach by making a cust

[2020-11-16 07:14] sirius651 commented on #537
1. Branch off of `dev` branch.
2. Once `feature` branch is ready for testing, open a PR into the `staging` branch and merge it. That will trigger an automated build and you will be able to test your changes in Staging environment like (http://staging.bancor.network)
3. Once we’re ready to deploy, someone who is responsible for deployment will open a PR from `dev` into `master` and will approve it

[2020-11-16 10:15] ashachaf opened #546 ""back" functionality on stake liquidity flow"
when a user opens the "stake liquidity" from the data screen, we should allow going back to the data screen.

current:
https://streamable.com/33wwsb

updated:
IF user clicked "stake" from the data screen AND then clicked "back" on the "add liquidity" popup -> open the data page.
(if this is too difficult, we can consider solving it with a new link, which will require design, that will allow the us

[2020-11-16 10:35] pingustar commented on #151
@Velua all tables are migrated except for the vote proposal tables. They are giving me a hard time with vuex mutation errors. Still working on a fix.

[2020-11-16 11:17] ashachaf opened #547 "space available limit calculation"
we are about to increase the limits and also create a tier system in place.

limits increase - need to confirm you are using the value from the contract and not hard coded amount.
maxSystemNetworkTokenAmount

tier system -
tokens that are part of the top tier, would be exempt from the maxSystemNetworkTokenRatio check.

how to identify if a token is in a tier:
in the PROTECTION (not STORE) contract

[2020-11-16 12:00] pingustar commented on #546
I have updated the routing to go back to the previous page. This should now work for all pages independant from what page you are on.

[2020-11-16 12:00] #546 closed

[2020-11-16 12:10] ashachaf commented on #533
this might be causing users not to see their positions on production.
this is how i see my protection table on staging+ropsten.
![image](https://user-images.githubusercontent.com/40430285/99250918-2976ae00-2815-11eb-8969-e8754f55e23a.png)

[2020-11-16 12:25] Velua commented on #151
Alright, if this is still a thing when you sign off for today leave a detailed comment of what's going on and I can take a look at it if you like.

[2020-11-16 12:28] pingustar opened #548 "previousPoolFees - add LINK"
[code]

@ashachaf do you know what the blockNumber is?

[2020-11-16 12:34] yudilevi commented on #548
last change I see is from 6 days ago -
https://etherscan.io/tx/0xa4c51f03b32150d2f7cf4a431cfd753d12889794915532a3a27aa4fa29ffdcd8

[2020-11-16 12:35] Velua commented on #548
I think the change is impending. @pingustar better to set it to the block number now. Then we'll update it again when we know the exact block number.

Otherwise it will be changed and still take us 15 minutes ish to respond. In that time there's a more inaccurate representation than what we'd have if we just set it to the current block and adjust it when we know the exact block.

[2020-11-16 12:37] ashachaf commented on #548
please use this block:
11268926

this is a place holder. once the transaction is done, a new block number will be shared.

[2020-11-16 12:41] Velua commented on #533
@H34D let's up priority on this. Do what you can in the remaining time you have. Leave me even a drafted PR to pick up from if you dont finish.

[2020-11-16 12:46] pingustar commented on #548
@ashachaf changes are pushed to staging in commit https://github.com/bancorprotocol/webapp/pull/549/commits/22ad1ef3d0d8d2e040fd80ba3af4c5c1bb269186

[2020-11-16 12:54] Velua commented on #548
Awesome stuff @pingustar
- [ ] Move this change to prod.
- [ ] Set the exact block upon @ashachaf 's feedback.

[2020-11-16 12:55] pingustar commented on #548
changes are deploying to production now.

[2020-11-16 13:13] pingustar commented on #537
I also like the idea of release cycles. Specially as the team grows and more commits/changes are made. With defined days for releases, each dev can make sure that their changes are solid and ready for production.

With continuous deployment we have more flexibility but also a higher risk of deploying code that hasnt passed testing/review.

The release cycles can be fairly short. So we dont accumul

[2020-11-16 13:19] Velua commented on #547
@yudilevi Is this method in the contracts code? Can't seem to find it, wanted to compile in order to generate the latest ABI.

[2020-11-16 13:25] Velua commented on #547
I'm guessing this contract change is not in production, when do we expect this to happen? Almost midnight my time and 2:30pm for the Germans so running out of work hours.

[2020-11-16 13:26] yudilevi commented on #547
@Velua it's in a branch -
https://github.com/bancorprotocol/contracts-solidity/blob/f8b2376f5a7a82e4723f70547102caf7952a55fd/solidity/contracts/liquidity-protection/LiquidityProtection.sol#L448

Gonna be merged in the next hour.

[2020-11-16 13:28] Velua commented on #547
Handing over to @H34D

From what I can tell my PR is 95% of the work, the only remaining tasks are..

- [ ] Update the ABI to reflect the interfaces of the new liquidity protection contract. Sourced from [here](https://github.com/bancorprotocol/webapp/issues/547#issuecomment-728009719)
- [ ] In line... ```contract.methods.isHighTierPool(anchor).call();``` I've made an assumption that a boolean wil

[2020-11-16 13:35] Velua commented on #547
From Telegram, we're expecting this to be in prod in the next hour.

Either perform an update of the app containing this work at the same time as the contract push.
**Else**, write a bit more code where should the request of ```contract.methods.isHighTierPool(anchor).call();``` fail (which is will given it doesn't exist on the contract yet) just catch it and return ```false```, that way the app wi

[2020-11-16 13:37] pingustar commented on #541
PR merged and deploying to production now.

[2020-11-16 13:37] #541 closed

[2020-11-16 13:39] pingustar commented on #540
PR merged and deploying to production now.

I have made a small adjustment @sirius651

the margin between input field and button is to small. I have added a margin to fix this.

![image](https://user-images.githubusercontent.com/7262066/99258842-70ff3900-2819-11eb-9991-d34b62c0bb08.png)

[2020-11-16 13:39] #540 closed

[2020-11-16 13:40] Velua commented on #537
I feel like there's a fair few on-chain interactions that need to be tested to confidently declare the app fit for service. Given the state of the development environment and lack of ease in running a local chain we don't have the luxury of running these tests quickly. Therefore I feel like be too much overhead in a continuous deployment environment.

Monday and Thursday releases sound pretty good

[2020-11-16 14:35] H34D commented on #547
i changed the logic of fetching slightly because the call will fail if the contract does not support the new property, it is a little bit more passive now

[2020-11-16 14:50] H34D opened #552 "Menu in Responsive view has some strange background"
There is some strange background when in responsive view. See red circle:

<img width="1008" alt="Screenshot 2020-11-16 at 15 49 24" src="https://user-images.githubusercontent.com/13647606/99266745-6649a180-2823-11eb-9311-13dea254a11c.png">
<img width="626" alt="Screenshot 2020-11-16 at 15 42 36" src="https://user-images.githubusercontent.com/13647606/99266749-68136500-2823-11eb-8124-0fe6dd2ea884.

[2020-11-16 15:18] ashachaf commented on #504
@pingustar it might happen when we upgrade the protection contract.
can it be that there is some cache on this address?
how can you check this?

refresh tends to solve this issue.

[2020-11-16 15:22] #547 closed

[2020-11-16 16:26] pingustar commented on #552
seems to be darkmode and desktop browser related. Cannot reproduce on mobile device or light mode.

[2020-11-16 20:10] H34D opened #555 "ERR_INVALID_RATE on poolRoi breaks Display of Protected Positions"
In some time cases the function poolRoi returns: ERR_INVALID_RATE which will lead to an empty list of positions:

<img width="708" alt="Screenshot 2020-11-16 at 21 08 09" src="https://user-images.githubusercontent.com/13647606/99302678-fc93bc80-284f-11eb-86d4-63ea07173abf.png">

steps to reproduce:

address: "0x00f4104195c36FA48e423296D937bAa65eE06E90"
poolRateD: "131089916167290465531"
poolRateN:

[2020-11-16 20:41] yudilevi commented on #555
this might actually be a contract issue. it happens when the deviation between the spot rate and the recent average rate in the pool exceeds the max deviation that the protection allows.
we should probably handle that check in write functions only and allow read only functions to skip that check

[2020-11-16 20:55] yudilevi commented on #555
yeah, we'll fix it in the contract level - it's a temporary state that should get sorted out after a few mins but in this case N/A should be good enough until we fix it.

[2020-11-17 08:31] ashachaf opened #558 "data table - add indication of liquidity mining rewards APR"
for these pools:
- Large Cap
ETH/BNT, WBTC/BNT, USDT/BNT, USDC/BNT, DAI/BNT, LINK/BNT
weekly rewards. are planned to be 100,000-200,000 bnt

- Mid Cap
OCEAN/BNT, renBTC/BNT
weekly rewards. are planned to be 10,000-20,000 bnt

how to calculate the APR from rewards:
1. identify how much protected positions exist in a pool for a given token or BNT
on the protection store contract, execute this functi

[2020-11-17 08:37] ashachaf commented on #492
related to #558

[2020-11-17 10:09] pingustar commented on #558
What does the countdown reflect?

And the font size of 7px is pretty small - we should increase that. We shouldnt go below 12 maybe 10 in some cases.

![image](https://user-images.githubusercontent.com/7262066/99376250-fbe93d80-28c4-11eb-9c6a-dddd224eaed4.png)

[2020-11-17 10:20] ashachaf commented on #558
updated the. counter text to 10.

[2020-11-17 10:32] ashachaf opened #559 "data page - bring back the wallet login"
given that we are building the entire app as a single app, it make sense to bring back the wallet connect option on the data page as well.

when i land on the data page,  you should have the same wallet connect option as other pages.
https://www.figma.com/file/3yED7o7TgoLwoEjV2EkRLL/Bancor-V2?node-id=1072%3A0

[2020-11-17 10:35] H34D opened #560 "withdrawing 100% liquidity protection will leave some fragments of tokens behind"
**Describe the bug**
When withdrawing 100% of liquidity protection some fragments of tokens will left behind on the contract

<img width="1160" alt="Screenshot 2020-11-17 at 11 32 18" src="https://user-images.githubusercontent.com/13647606/99379405-ec6bf380-28c8-11eb-800d-460c312499b5.png">

**To Reproduce**
1. have open liq protection positions that can be withdrawn
2. click withdraw
3. withdraw

[2020-11-17 11:33] pingustar commented on #559
done. On staging in about 5 min.

[2020-11-17 11:33] #559 closed

[2020-11-17 12:14] ashachaf commented on #558
counter - indicates the time left until the liquidity mining plan is over for these pools
until the contract is done, this should be counting downwards towards this time:

start time (novermber 16 2020 00:00GMT)
end time february 8 2021. 23:59 GMT

[2020-11-17 12:49] pingustar commented on #504
no idea about the cache.

@Velua @H34D any idea?

[2020-11-17 12:57] pingustar commented on #431
@Velua

we have an optional parameter for the `prettifyNumber` function. Second parameter is boolean defining USD yes or no. Default is false. It also strips decimals for large amounts.

`prettifyNumber(123456.98765, true)`

-> $123,456

`prettifyNumber(1.98765, true)`

-> $1.99

[2020-11-17 12:57] ashachaf opened #561 "vote -> stake/unstake vBNT popup"
vote->stake/unstake
open the popup
close it
- the "insufficient balance" red button appears for a brief second.
if difficult to fix,  ignore.
https://streamable.com/welgu6

[2020-11-17 12:59] pingustar commented on #538
@H34D suggested to create a base class that gets extended by all or required classes.

We could add `darkMode` and `isAuthenticated` ?!

[2020-11-17 13:01] pingustar commented on #497
Only solution I was able to find is adding a `minHeight` to the table. Not the best but will fix this issue.

What do you think about that @Velua ?

[2020-11-17 13:04] pingustar commented on #151
escalated vuex mutation errors to @Velua

[2020-11-17 13:13] H34D commented on #558
from what i understand: we need to query the totalProtectedReserveAmount for the TKN and BNT for each pool. Right now we have 280 pool which would make it an additional sum of approx 560 rpc calls additionally. This will make the application way slower again

is this correct or can we exclude some pools beforehand? @ashachaf

[2020-11-17 13:53] ashachaf commented on #558
to reduce the call, you can only check. for the pools that are in. the arrey returned from this function.
contract: liquidityProtection
https://etherscan.io/address/0x135742E6C5d70FC960090EdDBd9f3C6D0D494E99#readContract
function: highTierPools
return: array of pool anchors

https://github.com/bancorprotocol/contracts-solidity/blob/99e2db2a7378cef7a2844d98f1f681af5d50ccee/solidity/contracts/liquid

[2020-11-17 16:05] ashachaf opened #562 "getting pool roi failed! Error: Returned error: execution reverted: ERR_INVALID_RATE"
on production +mainnet i get lots of these errors.

![image](https://user-images.githubusercontent.com/40430285/99414278-54d5c780-28ff-11eb-8359-18f486ec04a8.png)

[2020-11-17 16:21] ashachaf commented on #346
any way to speed up the protection positions data would be appreciated.
maybe using this https://cloud.google.com/bigquery/public-data/
or caching user's positions if that makes sense.

[2020-11-17 16:25] ashachaf commented on #531
@pingustar
is this task stuck waiting for more information?

[2020-11-17 17:32] pingustar commented on #558
@ashachaf as requested a data dump of the current Liq Mining Aprs:

[code]

[2020-11-17 18:18] pingustar commented on #558
@Velua @H34D

**I gave my best to continue this, I hope its not all bad:**

- added the `aprMiningRewards` to the `relays` getter.
- moved the interfaces to `bancor.d.ts` file
- added the rewards data to the table in `TablePools.vue`

**Still missing:**
- aprMining data is loaded after table is rendered
- display rewards value as percentage
- Time remaining until reward cycle ends, timestamp missi

[2020-11-17 20:48] ashachaf commented on #558
checking the calculation for ethbnt pool for bnt reserve:
totalProtectedReserveAmount(0xb1CD6e4153B2a390Cf00A6556b0fC1458C4A5533, 0x1f573d6fb3f13d689ff844b4ce37794d79a7ff1c)
return:
3390211026483950866776662

IF BNT:
(70000000000000000000000*52/3390211026483950866776662)*100= 107.367947646%

checking the calculation for ethbnt pool for eth reserve:
totalProtectedReserveAmount(0xb1CD6e4153B2a390Cf0

[2020-11-18 02:21] sirius651 commented on #534
It seems working well in my side.
And also I need adding this ip `115.144.128.216 `, which is static public ip for whitelisting

[2020-11-18 02:56] Velua commented on #534
IP address now added.

[2020-11-18 02:57] Velua commented on #534
@yudilevi Passing tests on our end, re-open if you're experiencing issues after confirming you're whitelisted.

[2020-11-18 02:57] #534 closed

[2020-11-18 03:58] Velua commented on #538
Out of scope for this issue, make a new one if @H34D hasn't already made one with this suggestion. Thought I saw a PR for it.

We'll lock in ```currentUser``` then.

This issue can remain open till we've made this change.
@sirius651 Wanna have a crack?

[2020-11-18 04:01] Velua commented on #497
Is this really the issue then?
It's definitely not occurring due to a duplicate ID being used for the tooltip or anything?

[2020-11-18 04:05] Velua commented on #346
Currently focused on just how we approach managing all these asynchronous requests which will first impact pool loading which is going to adopt caching as part of the solution. Protected positions will speed up as a side effect of this.

[2020-11-18 04:06] Velua commented on #431
Alright, lets proceed with finding any

[code]
and replacing with ```prettifyNumber``` for that consistency, whoever picks this up.

[2020-11-18 04:09] Velua commented on #504
No caching, there's always the chance of a different config after a page refresh though not sure why.
One would have to re-produce the error to get a better idea.

[2020-11-18 04:14] Velua commented on #548
Closing now given it doesn't matter if the exact block is in there or not by now.

[2020-11-18 04:14] #548 closed

[2020-11-18 06:38] sirius651 commented on #538
Sure, let me see

[2020-11-18 06:43] Velua commented on #558
Is the only difference between High cap and low cap calculations just the extra 0 on the end of 70000... and 3000...?

[2020-11-18 07:02] ashachaf commented on #558
yes.
large caps give out 100,000
small caps give out 10,000

[2020-11-18 07:05] Velua commented on #558
Where does this time come from? Is this the same across all pools?

[2020-11-18 07:06] ashachaf commented on #346
all data load is important, but protected positions is a direct view to someone's money.
if a user stake for protection and then see empty screen as if he has no positions, he lose faith and want to leave our solution.
so the protected positions view is critical for confidence.

[2020-11-18 07:07] ashachaf commented on #558
yes, this is for all 8 pools.
for the counter. they all should count down towards this time.

[2020-11-18 07:41] pingustar commented on #497
Yes I am pretty sure about it.

`:id="'popover-cliff-' + item.id"` is how the ID is set. And the funky behaviour seems to only happens if there are just a few positions in the table. I'll test this out and we'll see.

I'll ping you for review.

[2020-11-18 07:42] pingustar commented on #531
I will pick this up again today.

[2020-11-18 08:11] Velua commented on #558
@ashachaf
Awesome, we're almost there, @pingustar is just polishing off a few things looks wise.

I've made two tests out of your example calculations.

[2020-11-18 08:38] pingustar commented on #562
duplicate of #555

[2020-11-18 08:38] #562 closed

[2020-11-18 09:07] nhindman23 opened #566 "APR not sortable in the Protection screen"
**Describe the solution you'd like**
All other columns are sortable when you click the header. The APR column however is not clickable or sortable.

[2020-11-18 09:11] pingustar commented on #558
@ashachaf this is what we have right now.

![image](https://user-images.githubusercontent.com/7262066/99509034-8db87f80-2985-11eb-8041-9ddd328cb6bc.png)

table has a horizontal scrollbar. Maybe we can shorten "1y Fees / Liquidity" somehow?

[2020-11-18 09:24] ashachaf commented on #558
we can update the title back to APR.
same tool tips.

[2020-11-18 17:51] H34D commented on #558
fixed

[2020-11-18 17:51] #558 closed

[2020-11-18 17:53] H34D opened #571 "Table sorted alphabetical but should be numerical"
![photo_2020-11-18 18 52 56](https://user-images.githubusercontent.com/13647606/99568096-4ce55880-29cf-11eb-9fa2-b217543349a4.jpeg)

[2020-11-18 21:06] ashachaf commented on #524
@Velua can we close this one?

[2020-11-18 21:24] ashachaf commented on #346
production+mainnet:
keep getting this error and cannot see protected positions.
Failed fetching protection positions Returned error: Your app has exceeded its concurrent requests capacity.  If you have retries enabled, you can safely ignore this message. If not, check out

[2020-11-19 02:05] #524 closed

[2020-11-19 02:08] Velua commented on #346
@ashachaf out of scope for this issue, raised it as a new issue.

[2020-11-19 02:08] Velua opened #572 "Protected Positions not showing / Concurrent request errors on production"
production+mainnet:
keep getting this error and cannot see protected positions.
Failed fetching protection positions Returned error: Your app has exceeded its concurrent requests capacity.  If you have retries enabled, you can safely ignore this message. If not, check out

_Originally posted by @ashachaf in https://github.com/bancorprotocol/webapp/issues/346#issuecomment-729964710_

[2020-11-19 02:09] Velua commented on #571
@pingustar is this something you recognise?

[2020-11-19 02:35] Velua commented on #560
@H34D I just tried this and it seemed to work okay, can you confirm my assertions made in commit hash bdc59709977156cebd3fac75b39f42337ee8407c just in the console logs?

[2020-11-19 05:42] Velua commented on #572
Unable to replicate, perhaps this is no longer occuring due to the API key being upped in resources.
Went on Telegram public Bancor channel, awaiting some feedback.

[2020-11-19 05:43] Velua commented on #572
Actually, this is probably due to #533 , jumping on that.

[2020-11-19 07:56] pingustar commented on #571
yes, taking this on.

[2020-11-19 08:17] pingustar commented on #571
I have a fix for most columns in the table in commit d92e2fb using a check for `isBigNumber` but for more complex table we probably need a similar approach to the custom filter prop.

When the selected column has an object with multiple properties, we need to pass a custom sorting function into the data table component.

[2020-11-19 09:51] pingustar commented on #494
on staging now.

[2020-11-19 09:51] #494 closed

[2020-11-19 09:51] pingustar commented on #472
on staging now.

[2020-11-19 09:51] pingustar commented on #431
on staging now.

[2020-11-19 09:51] #431 closed

[2020-11-19 09:59] Velua commented on #533
I have now added a ```eth-multicall``` based solution so more efficient on requests.

[2020-11-19 09:59] #533 closed

[2020-11-19 10:01] Velua opened #576 "Concurrency issue fetching historic fees"
It appears checkFees is not very concurrent as it's getting called several times after every chunk finishes which in turn will start firing several requests.

[2020-11-19 10:03] Velua commented on #576
Implemented a RXJS based solution in f09d3c5e238acbd7d6a7d1170fe0c24d14ccf0fc @H34D check it out.

- [ ] Use only one concurrent requests when fetching fee history
- [ ] Sort by liquidity depth

[2020-11-19 10:05] Velua commented on #572
@ashachaf Recently determined #533 would pose a problem as well as #576 which I've now minimised it's concurrent calls. Try this out now.

[2020-11-19 10:10] Velua commented on #480
```recentAverageRate``` is found on the latest converters by the looks of it, @ashachaf do we know what version ```recentAverageRate``` was introduced?

- [ ] Update ```buildV28ConverterContract``` to include this method.
- [ ] Find where to place this call, I'm guessing it will be the one the UI calls when the user is hanging around that area.
- [ ] Depending on what the UI expects, should the ``

[2020-11-19 10:12] Velua commented on #480
Make sure we don't end up calling this method for versions < than whatever this was introduced in.

[2020-11-19 10:36] ashachaf commented on #472
there is a mix of colors.
icon is gray while. text is black.
can it all be gray?

[2020-11-19 11:09] yudilevi opened #578 "Voting - lock timer is breaking into two lines"
**Describe the bug**
Lock timer on desktop breaks into two lines.

**To Reproduce**
Open the vote screen, stake some BNT and vote.

**Screenshots**
![image](https://user-images.githubusercontent.com/1134236/99658650-769e8e00-2a68-11eb-8e0b-0746b26110a6.png)

**Smartphone or Desktop/Laptop?**
Desktop

[2020-11-19 11:31] H34D commented on #480
ABI updated, its very different but i have tested it. The rest works and also i can get recentAverageRate

[2020-11-19 12:27] ashachaf commented on #480
version 42.

[2020-11-19 15:10] H34D commented on #555
temporary solved with: https://github.com/bancorprotocol/webapp/commit/723a4efcbc85209eb21c7db324c673fec576ecaf

[2020-11-19 15:47] ashachaf opened #582 "rewards calculation - use max rewards numbers"
in the calculation used here:
https://github.com/bancorprotocol/webapp/issues/558

please update the following from 100k->200k and 10k->20k
this is the max rewards we can give out.

current:
IF LARGE CAP:

IF BNT: (70000000000000000000000*52/total protected BNT in the pool)*100
IF TKN: (30000000000000000000000*((total TKN reserve)/(total BNT reserve))*52/total protoected TKN in the pool)*100
IF SM

[2020-11-19 16:02] H34D commented on #555
now showing calculation errors

<img width="1168" alt="Screenshot 2020-11-19 at 16 57 49" src="https://user-images.githubusercontent.com/13647606/99690935-f2a8ce00-2a88-11eb-818c-66279eec4c5f.png">

[2020-11-19 16:15] pingustar commented on #582
- [x] update rewards calculation
- [ ] update tooltip - waiting for text

[2020-11-19 16:49] pingustar commented on #582
changes reverted as per @ashachaf request.

[2020-11-19 23:09] Velua commented on #582
What's the go here?

[2020-11-19 23:11] pingustar commented on #582
Feature on hold. No action required. @Velua

[2020-11-20 12:45] pingustar commented on #582
updated formula and tooltip, https://github.com/bancorprotocol/webapp/pull/584/files

[2020-11-20 12:45] #582 closed

[2020-11-20 14:10] H34D commented on #576
but it should be sorted by liq depth already. no?

https://github.com/bancorprotocol/webapp/blob/staging/src/store/modules/swap/ethBancor.ts#L6529-L6539

[2020-11-21 10:57] yudilevi opened #585 "Transaction confirmation popup - show etherscan link right away"
Currently, when the user submits a transaction, we show a popup that's waiting for the tx confirmation, and only after the tx is confirmed, we show a "transaction confirmed" message with the link to etherscan.
A better approach is to show a "transaction submitted" popup and immediately show the etherscan URL and allow the user to track it there.

[2020-11-22 11:36] ashachaf opened #586 "add liquidity "space available" not showing"
it seems that when the page is open for some time with no refresh, there is an error which cause "space available" not to be calculated.

open data->add liquidity
keep open for several minutes

![image](https://user-images.githubusercontent.com/40430285/99902567-62a49780-2cc7-11eb-9584-9ef3e42944c2.png)

[2020-11-22 14:16] ashachaf commented on #522
seems this is not working on production.
we need to understand why.

[2020-11-22 22:19] yudilevi opened #587 "Data page - sorting by APR puts "N/A" first"
When sorting by high APR, N/A shows first.

- Open the app
- Sort the data page by APR

Notice N/A shows first.
Expected: N/A should always appear last.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/1134236/99918740-94e2e300-2d21-11eb-8e23-792281649477.png)

[2020-11-22 22:23] Velua commented on #522
While further work can be done to prioritise pools based on their liquidity depth I don't think that would still deliver a good experience as we'd like.

From what I see the existing system works, just takes way too long to discover the pools we want given the concurrency limitation.

Lets proceed with hard coding the fees till we can lean on the API.

[2020-11-22 22:23] #522 closed

[2020-11-23 05:01] Velua commented on #522
Added sorting by a handful of hardcoded pools.

[2020-11-23 05:12] Velua commented on #576
Only within this function which is only handling around 30 at a time, which means high priority pools could be pushed back to the 3rd batch and take forever to get loaded.

My recent changes have introduced a smart buffering system which allows you to add as many converterAndAnchor sets to the observable and it will sort the queue each request.

[2020-11-23 05:12] #576 closed

[2020-11-23 08:31] #538 closed

[2020-11-23 09:06] pingustar opened #591 "Data Table Sorting issues - Custom and edge case handling"
**Data Table Sorting issues**
Sorting the data tables does not work properly in some edge cases and with arrays containing objects.

**Linked issues**
- [x] https://github.com/bancorprotocol/webapp/issues/587
- [x] https://github.com/bancorprotocol/webapp/issues/571
- [x] https://github.com/bancorprotocol/webapp/issues/566

**Proposed solution**
- [x] Add functionality for custom sorting functions

[2020-11-23 11:41] yudilevi opened #592 "Integrate with walletlink"
Most prominent dapps already use it, we'd like to integrate with it as well and it seems like a very simple integrations.
See https://walletlink.org/#/ for additional info.

[2020-11-23 12:09] yudilevi opened #593 "Potential invalid price calculation"
User reported:
Im referring to the "price impact" calculation. Bancor should use an external price feed for each pair to know the fair price in the market so users like me don't get rekt on a small exchange. I exchanged 4000 REN for BNT on the Bancor U/I, my slippage selection was at the default 1%, and the price impact was around 0.025%. I obviously did the trade thinking that I'm getting a fair

[2020-11-23 12:45] pingustar commented on #531
@ashachaf with the tested positions, I always get a negative value. I have multiplied the result by `-1` now and added the fee column to staging. Can you have a look and check if the numbers make sense?

[2020-11-23 16:49] pingustar commented on #591
DataTable takes now an optional sort function prop. The default sort is improved as well to detect if strings are numbers, and it puts n/a values at the end. There is also a defaultTableSort function that can be used when building custom sorting, eg: if you want to include Zeros in the sorting. This is useful for ascending order, so we dont have 20 pages with zero values.

[2020-11-23 22:40] Velua commented on #593
What's the transaction hash for this one? Need more info.

[2020-11-23 22:42] Velua commented on #591
I imagine this should be assigned to you then.

[2020-11-23 22:42] #572 closed

[2020-11-23 22:43] Velua commented on #531
Ensure a test is written for the formula.

[2020-11-24 07:30] H34D commented on #455
done

[2020-11-24 07:30] #455 closed

[2020-11-24 08:22] pingustar commented on #531
@Velua there is a test available, this is also mentioned in the issue as a checkbox in the top.

@ashachaf do we have more info how to proceed from here?

[2020-11-24 08:42] pingustar commented on #587
@yudilevi please check this again, as I have optimized the sorting algorithm this should not happen anymore.
Also Zero values will be at the end, so we dont have to paginate thru 20 pages with zero values.

Please reopen if need be.

[2020-11-24 08:42] #587 closed

[2020-11-24 08:44] pingustar commented on #571
this particular issue is fixed. There are more edgecases that I might not be aware of, please reopen if you find anything else not working as it should.

[2020-11-24 08:44] #571 closed

[2020-11-24 08:46] pingustar commented on #566
@nhindman23 I have updated the sorting, we should discuss how the sorting behaves.

For APR, right now it is sorting by `1 day`, is that correct or should it be `1 week`?

What about the other columns, `Inital Stake`, and `Protected/Claimable Value` should those sort by TKN value or USD value?

thanks.

[2020-11-24 08:50] H34D opened #596 "Run unit tests and Build on Branch when opening a PR"
**Is your feature request related to a problem? Please describe.**
I just realised the unit tests don't come out green on staging when i run them but i dont know when they failed. We should allow merging only on green build and tests

**Describe the solution you'd like**
Integrate into github actions

[2020-11-24 09:03] pingustar commented on #586
@ashachaf is this still happening? After about 10 minutes I can still see the values.

[2020-11-24 09:47] yudilevi commented on #593
I know we received that report on November 19 at 8:56pm UTC, you can find the tx around that time.

[2020-11-24 11:46] ashachaf commented on #586
1. i still see this issue on browsers that are open for some time without refresh (after refresh this works)
2. when the "available space" is smaller than the input amount, we should not allow user to proceed.

![image](https://user-images.githubusercontent.com/40430285/100089890-12f6d500-2e5b-11eb-9f8b-60617b57f339.png)
![image](https://user-images.githubusercontent.com/40430285/100089927-1d18d38

[2020-11-24 14:02] pingustar commented on #586
1. after what time (estimate is fine) do you see this happening? I am going close to 1 hour now and cannot reproduce.
2. this seems to be happening due to issue 1. - very likely that 2. will be resolved once we resolve 1.

@ashachaf does this need to be tagged priority? I don't think this effects a lot of people.

Another concern with this is, that if we have the browser window open for hours, the

[2020-11-24 15:35] pingustar commented on #586
ok, I was able to get this error reproduced.

I had the browser window open for about 2h and then navigated away from the "Add Liquidity Protection" screen and navigate back to it.

[2020-11-24 15:36] pingustar commented on #497
fixed by adding min-height and display block css to the table.

[2020-11-24 15:44] pingustar commented on #472
I have updated the icons to be all gray.

changing the text of the button to be gray is possible. Should that be only for those buttons on the vote page or for all buttons?

Or leave it as it is now @ashachaf? It is on staging now.

[2020-11-24 16:04] pingustar commented on #525
updated text. On staging for review @ashachaf

[2020-11-24 16:04] #525 closed

[2020-11-24 17:00] ashachaf commented on #531
checking the calculation again with the mathematician, seems we need to rework it.
will update once we have the new calculation

[2020-11-25 10:36] H34D commented on #596
done

[2020-11-25 10:36] #596 closed

[2020-11-25 11:52] ashachaf opened #602 "protected table - error calculating columns data"
occasionally, usually happens after the site is open for some time, we start getting error messages which cause calculations to fail.

![image](https://user-images.githubusercontent.com/40430285/100224320-59186b00-2f25-11eb-9606-65e7ddb20a31.png)

[2020-11-25 13:05] pingustar commented on #586
@ashachaf I have added an interval to fetch the data. This should resolve the data disappearing and will keep the data up to date if you have the window open over a longer period of time.

It is on staging for testing.

[2020-11-25 13:10] H34D commented on #555
fixed

[2020-11-25 13:15] pingustar commented on #602
Isnt this a duplicate of https://github.com/bancorprotocol/webapp/issues/555

@ashachaf @yudilevi has the contract been fixed? Is there any action required from our end? https://github.com/bancorprotocol/webapp/issues/555#issuecomment-728323986

[2020-11-25 13:15] #602 closed

[2020-11-25 13:21] pingustar commented on #555
any update on this? Another priority issue about this has been rased: #602

[2020-11-25 14:17] pingustar commented on #217
this has been fixed with the new data table component

[2020-11-25 14:17] #217 closed

[2020-11-25 14:20] pingustar commented on #532
fixed

[2020-11-25 15:25] yudilevi opened #606 "Can't create a new pool"
Error when trying to create a new pool for a token that doesn't exist in the network yet.

Steps to reproduce the behavior:
1. Go to "swap"
2. Click on "pool"
3. Click on "Create pool"
4. Enter any token that doesn't exist
5. Select "add token"
6. Put in any address
7. See error

Tested on desktop.

![image](https://user-images.githubusercontent.com/1134236/100247605-2aa98880-2f43-11eb-8684-6b0284

[2020-11-25 16:08] pingustar commented on #532
actually doesnt seem to have worked.

I thought I found the issue in the token registry and made a change here https://github.com/Velua/eth-tokens-registry/commit/bf81a93d74323fd10f99e8a3c07d536fabe15a2a

... but appears to have no effect.

[2020-11-25 16:44] H34D commented on #606
no repro on the original issue but optimized the token loading and select flow when adding a new token

[2020-11-25 16:44] #606 closed

[2020-11-25 17:08] pingustar commented on #560
I have withdrawn a bunch of positions yesterday on ropsten. Worked fine.

[2020-11-26 04:46] #465 closed

[2020-11-26 07:23] ashachaf opened #609 "text change - add liquidity popup"
on these screens:
data->add liquidity
protect -> stake

update the text.
current text:
By joining a pool, liquidity providers earn a percentage fee on all trades proportional to their share of the pool. Fees are added to the pool, accrue in real time and can be claimed by withdrawing your liquidity.

updated text:

Learn what it means to add liquidity to a pool:
1. [How do I make money by providin

[2020-11-26 08:29] ashachaf opened #611 "transaction value - rounding numbers"
when stake into protection (was tested on this flow), it seems that the frontend rounds the number.
as it sometimes rounds up, the transaction can be for 1wei greater than my balance which will cause it to throw error and fail (and cost the user a lot of money if they execute it)

flow:
stake->add liquidity
1. input amount - we should restrict the input amount based on the token decimals.
![image]

[2020-11-26 08:47] pingustar commented on #609
text updated. Going to staging now.

[2020-11-26 08:47] #609 closed

[2020-11-26 09:17] ashachaf commented on #480
example using ropsten data:
https://ropsten.etherscan.io/address/0xe289d3bdcfd3a9c6d08428c8bf213988370eb738#readContract
BNT reserve address: 0xf35ccfbce1228014f66809edafcdb836bfe388f5
xxx reserve address: 0x34748f3e5cddbbb7c2a7bec888fef3873a462de7

call function for BNT
[ recentAverageRate method Response ]
    uint256 :  1852751787227484151863
    uint256 :  2102158801567418598785
average rate =

[2020-11-26 09:28] ashachaf commented on #480
did a large swap.
checking the numbers agains.

example using ropsten data:
https://ropsten.etherscan.io/address/0xe289d3bdcfd3a9c6d08428c8bf213988370eb738#readContract
BNT reserve address: 0xf35ccfbce1228014f66809edafcdb836bfe388f5
xxx reserve address: 0x34748f3e5cddbbb7c2a7bec888fef3873a462de7

call function for BNT
[ recentAverageRate method Response ]
uint256 : 667846830199023568299961991561
u

[2020-11-26 10:26] pingustar commented on #611
- changed `expandToken` method to trim decimals to given precision and round down.
- moved `expandToken` method to `pureHelper` file
- added testing for `expandToken` method

currently waiting to be reviewed.

[2020-11-26 10:46] pingustar commented on #586
@ashachaf I assume this is resolved. If you still have trouble with this, please reopen.

[2020-11-26 12:06] H34D commented on #480
done

[2020-11-26 12:06] #480 closed

[2020-11-26 12:14] H34D opened #613 "Token list shows "false" instead of Liquidity Protection Icon"
<img width="282" alt="Screenshot 2020-11-26 at 13 14 08" src="https://user-images.githubusercontent.com/13647606/100349832-5121ff00-2fe9-11eb-9b8e-ea4416d00f75.png">

[2020-11-26 12:19] H34D commented on #613
fixed

[2020-11-26 12:19] #613 closed

[2020-11-26 12:41] H34D commented on #412
the column was renamed to APR and is now sorting properly

[2020-11-26 12:41] #412 closed

[2020-11-26 13:29] pingustar commented on #566
I have updated the sorting:

- Initial Stake: by time of stake
- Protected Value: by USD value
- ROI: by percentage
- APR: by 1 day
- Current Coverage: by percentage

[2020-11-26 13:29] #566 closed

[2020-11-26 13:29] pingustar commented on #591
Table sorting is updated. Should work throughout the app now.

Please reopen if you find any inconsistency.

[2020-11-26 13:29] #591 closed

[2020-11-26 13:54] H34D commented on #561
fixed

[2020-11-26 13:54] #561 closed

[2020-11-26 16:29] pingustar commented on #611
going to production now

[2020-11-26 16:29] #611 closed

[2020-11-26 16:32] pingustar commented on #536
I guess this can be closed?

[2020-11-26 16:32] #536 closed

[2020-11-26 16:34] pingustar commented on #472
Closing due to inactivity. Please reopen if further changes required.

[2020-11-26 16:34] #472 closed

[2020-11-29 08:27] ashachaf opened #615 "Protection Table - Group Positions"
as a user, i would like to be able to view my summary in a glance and know my entire portfolio performance, group by specific tokens in a pool and to be able to filter out different views.

https://www.figma.com/file/3yED7o7TgoLwoEjV2EkRLL/Bancor-V2?node-id=1145%3A2

### Protected table grouping
1. grouping logic:
- by pool and then by token.
examples:
- if i have 3 eth positions on ethbnt pool, i

[2020-11-29 09:57] ashachaf opened #616 "data and protection tables do not load"
i dont get any special errors on console.
i dont have rate limit on alchemy.
![image](https://user-images.githubusercontent.com/40430285/100538652-b8ce8900-3239-11eb-8c40-456f15592339.png)

![image](https://user-images.githubusercontent.com/40430285/100538657-bff59700-3239-11eb-8785-ed23a6512dbd.png)

data table sometimes loads with partial data
![image](https://user-images.githubusercontent.com/4

[2020-11-29 11:18] ashachaf commented on #593
@Velua
https://etherscan.io/tx/0x5be5194605e6538f185152fa46f9fd344dfb883f97163100d68ebabb1f1f0295

[2020-11-29 11:25] ashachaf opened #621 "space available calculation mistake"
when we calculated the space available for single side staking, we have a mistake in the calculation.
this mistake is on the frontend only.

we currently calculate the available BNT as maxSystemNetworkTokenRatio * bntReserveBalance.
current calculation:
  // allowed BNT based on ratio cap
  const maxRatioBnt = zeroIfNegative(
    new BigNumber(maxSystemNetworkTokenRatioDec)
      .times(bntReserve

[2020-11-29 11:35] pingustar commented on #616
hotfix to master branch deployed. App seems functional again with the exception of the pool data table.

The Pool Data Table currently does not show:
- Volume
- Fees
- APR

For reference, my hotfix commits:

- https://github.com/bancorprotocol/webapp/commit/b1eace5571bc82e8ba828f7664238b54a03d9c3b
- https://github.com/bancorprotocol/webapp/commit/95b3cbcc8c4c3517e6124c3a8479a8b407891f20
- https://

[2020-11-29 15:46] ashachaf commented on #615
@Velua tried to be as detailed as possible with this task.
as discussed, this is open for feedback.

[2020-11-30 01:47] Velua opened #623 "Update PoolLogosOverlapped.vue"
The component ```PoolLogosOverlapped.vue``` is dependent on the getter...

[code]

And will break if a pool is not returned, lets update this so that if the relay failed to be looked up, it will render two question mark images or something else instead.

[2020-11-30 02:02] Velua commented on #616
I've simply reverted @pingustar 's changes to the original state and the app appears functional.
Also changed fee calculation to pass with little or no fees calculated rather than failing entirely.

We should probably map out where requests can go wrong or fail and what to do in those events. Should the Alchemy endpoint for events fail but everything else works OK should the app crash? Or try x, y

[2020-11-30 02:02] #616 closed

[2020-11-30 02:45] Velua commented on #560
Bump @H34D

[2020-11-30 05:58] Velua commented on #621
In this new test I've created...

[code]
We're expecting the result to max allowed TKN to be 0.96982720119, what can we expect the max allowed BNT to be using the same params?

[2020-11-30 06:14] Velua commented on #621
Now pushed to staging, awaiting test for prod.

[2020-11-30 07:54] ashachaf commented on #432
this was done already.
duplicate.

[2020-11-30 07:54] #432 closed

[2020-11-30 08:00] Velua commented on #593
Converter: https://etherscan.io/address/0xd5aa38c6df168741839f9e1e9c51e6d24b986970

Market value of pairs in USD
- REN $0.307
- BNT $0.73

[2020-11-30 10:08] pingustar commented on #623
optimized the error handling, fallback logo added and if the pool lookup fails I also updated the pool name to fallback to 'N/A' since this would otherwise cause the same error.

@Velua please review PR #627

[2020-11-30 10:08] ashachaf opened #628 "stake liquidity gives error"
when trying to stake liquidity, seems there is some issue with decimals.
testing on staging+ropsten
click the available space to stake the full possible amount:
![image](https://user-images.githubusercontent.com/40430285/100596111-758d1c80-3304-11eb-9b5b-ee9dab06f749.png)

metamask error
![image](https://user-images.githubusercontent.com/40430285/100596253-9fdeda00-3304-11eb-9125-e50a21b51cec.png)

[2020-11-30 10:09] ashachaf commented on #628
@pingustar might be rounding related?

[2020-11-30 10:11] pingustar opened #629 "Protected Table - Add Summary view"
https://www.figma.com/file/3yED7o7TgoLwoEjV2EkRLL/Bancor-V2?node-id=1216%3A0

### Summary view (5 items): a view that allows users to view their entire portfolio in a glance.

1. summary initial stake = sum of all initial stakes displayed in USD
2. protected value =
- sum protected value = sum of all protected values displayed in USD.
- percentage change = (1 - (sum protected value) / (sum initial

[2020-11-30 10:14] pingustar opened #630 "Protected Table - New filter logic and UI"
https://www.figma.com/file/3yED7o7TgoLwoEjV2EkRLL/Bancor-V2?node-id=2196%3A71

### Protected Table Filters
#### introducing 3 new filters:
1. positions: (all positions, only fully protected, only not fully protected).
2. group by pool token: (All pools, ETHBNT, LINKBNT,etc). should allow a selection of pools that the user has positions for.
3. time selection: when selected show pre determine timer

[2020-11-30 10:15] pingustar commented on #615
@ashachaf I have split this into 3 separate issue for easier handling.

- Summary View https://github.com/bancorprotocol/webapp/issues/629
- FIltering https://github.com/bancorprotocol/webapp/issues/630

[2020-11-30 10:35] pingustar commented on #628
@ashachaf I dont think it is a rounding issue because your balance is higher than the amount to stake. So even if it would round up, there is enough balance to cover for this rounding error.

@Velua any thoughts?

[2020-11-30 10:49] pingustar commented on #615
@ashachaf do we have mockups for mobile?

[2020-11-30 11:10] pingustar opened #632 "Claim BNT does not move over once countdown is done"
**Expected behavior**
BNT positions to claim should move over to the left once time has passed. Refresh resolves it, but should not be necessary.

**Screenshots**
![image](https://user-images.githubusercontent.com/7262066/100602935-d0267880-3304-11eb-9819-e1d99f13d18e.png)

[2020-11-30 11:53] pingustar commented on #497
reopening this as I just noticed that the implemented fix messes with the table

![image](https://user-images.githubusercontent.com/7262066/100607308-12eb4f00-330b-11eb-8bac-f7bc973dbdba.png)

[2020-11-30 12:33] pingustar commented on #629
going to staging now. @ashachaf please review.

[2020-11-30 12:33] #629 closed

[2020-11-30 12:46] ashachaf commented on #629
i was debating to remove the ROI.
what is our number formatting?
i thought it is:
less than 1 -> 0.123456
1 to 1,000 -> 123.12
over 1000 -> 1,234

[2020-11-30 12:50] pingustar commented on #629
@ashachaf that is for TKN amounts.

for USD it is:

less than 100 -> 99.12
over 100 -> 1,234

[2020-11-30 14:03] ashachaf commented on #621
testing on staging:
few possible issues:
1. data you use on the frontend might be different from what i was pulling from thee blockchaini
2. calculation is not the same as below
3. frontend indication is not aligned with the calculation
4. when you display a limit and a user add the full amount, how is it that the following transaction can add about 50% of the previous limit again?

### 1st run
xx

[2020-11-30 14:48] pingustar commented on #586
happened again today.

[2020-11-30 16:39] ashachaf commented on #621
@Velua
after long debugging, this is the updated calculation which will show you the amount of **TKN** the pool can accept (single side staking).

if you use percentage as a value between 0-1:
(tknBalance * p - sysBalance * tknBalance / totalSupply) / (1 - p)

if you use ppm:
(tknBalance * p - 1000000 * sysBalance * tknBalance / totalSupply) / (1000000 - p)

actual code using ppm:
tknBalance.mul(p

[2020-12-01 07:47] ashachaf commented on #621
if you want to extract the **BNT** amount (you might need this for limit check), do the following:

if you use percentage as a value between 0-1:
(bntBalance * p - sysBalance * bntBalance / totalSupply) / (1 - p)

if you use ppm:
(bntBalance * p - 1000000 * sysBalance * bntBalance / totalSupply) / (1000000 - p)

actual code using ppm:
bntBalance.mul(p).sub(sysBalance.mul(bntBalance).mul(1000000).d

[2020-12-01 08:36] #623 closed

[2020-12-01 09:23] ashachaf opened #635 "statistics update on data page"
as a user, i would like to have a visibility into the total volume in the network over the last 24h timeframe.

24h total volume = sum of all pools 24h volume.
BNT price = indication of the current bnt price in usd.

https://www.figma.com/file/3yED7o7TgoLwoEjV2EkRLL/Bancor-V2?node-id=1072%3A0

[2020-12-01 10:03] ashachaf commented on #635
also, we would like to include the percentage of locked bnt from circulating supply.

locked bnt percentage = (total locked bnt) / (total bnt supply). normalize this value into percentage.
example:
locked bnt = 42105473.915841584158416
circulating supply bnt = 87868811.011974018147889204
locked bnt = 42105473.915841584158416/87868811.011974018147889204 = 0.47918565678 => 47.91%

[2020-12-01 12:02] pingustar commented on #635
I have added volume 24h and reactivated the swap 24h count.

@Velua to take over for part two

[2020-12-02 05:32] sirius651 commented on #481
@H34D I can't find the vote graph on the mobile page. Is this the issue?

[2020-12-02 08:35] pingustar opened #640 "Remove 100% of my Liquidity throws insufficient funds error"
**To Reproduce**
1. Remove pool tokens from v1 pool
2. Click balance to select max
3. calculation is made for opposite side
4. error shown: insufficient funds

**Expected behavior**
calculation should return max balance for opposing side

**Screenshots**
![image](https://user-images.githubusercontent.com/7262066/100848658-b78f9d00-3481-11eb-80b7-403bc8acdf4d.png)

[2020-12-02 09:32] ashachaf commented on #531
current calculation:
Sqrt((opposingDepositedReserveCurrentBalance / depositedReserveCurrentBalance) / reserveRate) * depositedReserveCurrentBalance / currentPoolTokenSupply * originalPoolTokenAmount - depositedAmount

updated calculation:
Sqrt((opposingDepositedReserveCurrentBalance/depositedReserveCurrentBalance)/ reserveRate) * depositedReserveCurrentBalance / currentPoolTokenSupply * 2*original

[2020-12-02 10:54] pingustar commented on #531
I have updated the formula, going to staging now. please have a look @ashachaf

[2020-12-02 13:28] ashachaf commented on #531
@pingustar looks right.

[2020-12-02 13:33] yudilevi commented on #578
Seems like we still have an issue -

![image](https://user-images.githubusercontent.com/1134236/100879139-fda92880-34a2-11eb-8188-2ea3807f697d.png)

[2020-12-02 15:50] ashachaf commented on #635
@Velua please see if the required data exist for this % locked.

[2020-12-02 15:58] ashachaf opened #641 "support direct swap URL"
as a user, when i visit swap.bancor.network (redirects to app.bancor.network/eth/swap), i would like for it to load and be available for me in the fastest possible time.

can we:
1. reduce the calls needed when loading the swap page
2. use the price api which returns real time prices instantly

[2020-12-02 16:22] ashachaf opened #642 "support the option for fiat onboarding/offboarding"
as a user, i would like to have the option to buy crypto with fiat or swap my crypto back to fiat.
note, we are NOT associated with the solution, just listing few selected options to make it available for our users.

side menu item:

page layout:
https://www.figma.com/file/3yED7o7TgoLwoEjV2EkRLL/Bancor-V2?node-id=548%3A7980

moonpay implementation URL:
buy: https://buy.moonpay.com?apiKey=pk_live_q

[2020-12-02 18:40] H34D commented on #621
I opened PR: https://github.com/bancorprotocol/webapp/pull/643 which is inconclusive as off now. The plan was to create two methods that can be tested more easily. In the end i think i struggled with the implementation of the high tier pool logic.

[2020-12-03 01:42] sirius651 commented on #585
@yudilevi  https://github.com/bancorprotocol/webapp/pull/624#issuecomment-737094770  we concern with this out of sync issue, any thoughts?

[2020-12-03 02:16] sirius651 opened #644 "not showing vote area in voting page on mobile"
**Describe the bug**
not showing vote area in voting page on mobile

Related #481

**To Reproduce**
go to vote page on mobile

**Expected behavior**
should show vote are in voting page on mobile

**Screenshots**
![스크린샷 2020-12-03 오전 11 14 11](https://user-images.githubusercontent.com/1606820/100954828-b67d6f00-3558-11eb-9af2-f476993cc6de.png)

**Smartphone or Desktop/Laptop?**
phone

**Ad

[2020-12-03 05:01] Velua commented on #641
Which price API?
Rest of this is being addressed in #346

[2020-12-03 05:01] Velua commented on #635
Locked BNT as part of protection? Or are we talking about staked BNT liquidity?

[2020-12-03 05:13] Velua commented on #628
I've seen a recent change to how we're approaching rounding @ashachaf can you try this out again now?
I've just tried it out myself on staging on ropsten and failed to replicate.

[2020-12-03 05:16] Velua commented on #640
Whomever picks up
- [ ] Ensure balance insufficient balance error is raised by BigNumber and not doing a native JS math operators >.

Could either silence the balance error should the ```calculateOpposingXXX``` error be the one changing it, otherwise see the root issue in the calculation and why it's suggesting one can remove more liquidity than they can.

@pingustar do you remember that other iss

[2020-12-03 05:45] Velua commented on #593
Looking at the trade it looks like it was 3.98 REN for 1 BNT, however, at pure market price one would expect 2.377 REN for 1 BNT.

Given the size of the pool is this amount of slippage expected to have been returned from the converter on a smart contract level? Seems quite high.

Client calculates the slippage by ```getReturnByPath``` , does this remain accurate despite the magic happening in a V2

[2020-12-03 06:03] ashachaf commented on #641
Yariv's mentioned there is a price api we might be able to use.

[2020-12-03 06:23] ashachaf commented on #635
bnt in pool.

[2020-12-03 09:03] yudilevi commented on #593
@Velua yup, these pools are basically v1 pools so there's no change to the calculations

[2020-12-03 09:05] yudilevi commented on #585
@sirius651 I don't see how these issues are related - the UI should show the tx hash immediately and in the background monitor the tx, query the balance periodically or get events for balance updates.

[2020-12-03 09:45] Velua commented on #593
In that case why did the trade encounter so much slippage given the converters liquidity depth?

[2020-12-03 09:48] Velua commented on #585
He's pointing out that our balances checks won't be accurate until there's a block confirmation, so in the mean time there's a small amount of time where the user can see their old balance until a block confirmation happens. Shall we accept this new behaviour?

[2020-12-03 10:02] yudilevi commented on #585
Yup, of course - that's how the underlying platform works so it's acceptable.

[2020-12-03 10:03] pingustar commented on #640
not to sure what that other issue was about, but I remember that there was a overhaul planned for this screen.

[2020-12-03 10:08] yudilevi commented on #593
pull all the stats so we can analyze it

[2020-12-03 10:23] pingustar commented on #531
what should we do about the horizontal scroll issue?

@ashachaf I noticed that this position has 0 TKN in fees, is that correct?

![image](https://user-images.githubusercontent.com/7262066/100996838-d8c3bc80-3559-11eb-8cba-8bbdaf32043f.png)

[2020-12-03 10:56] Velua commented on #635
@pingustar I've recently added the percentages in https://github.com/bancorprotocol/webapp/commit/53290721b2812d2e44a6476a51c4d2a69d1d3659

You'll find ```stakedBntSupplyPercent?: number``` on ```ViewRelay``` now.

[2020-12-03 11:00] ashachaf commented on #635
seems that now staging shows half the value for total liquidity.

staging:
![image](https://user-images.githubusercontent.com/40430285/101001149-6b1e8d00-3567-11eb-80a9-e18c0554c119.png)

production:
![image](https://user-images.githubusercontent.com/40430285/101001174-7376c800-3567-11eb-8678-37e558e4f90a.png)

[2020-12-03 11:18] Velua commented on #635
@pingustar new commit c03956c03c8effdd4ecc366ed978dbb3e03bd298

[2020-12-03 12:06] ashachaf opened #647 "new pools with liquidity rewards"
in preparation for the vote to end later today, we would like to confirm that our system will be able to indicate rewards APR for these new pools.

current pools that are possible to be voted in (2 will be selected):
- yfi converter: 0x9258af079065857c01466cebdcfa2cfb6aa4983c. pool token: 0xaeb3a1aed77b5d6e3feba0055d79176532e5ceb8. anchor address: 0xaeb3a1aed77b5d6e3feba0055d79176532e5ceb8
- ren c

[2020-12-03 15:25] pingustar commented on #635
staging issue comes along when cherry picking 5329072 and c03956c

on hold until fixed.

[2020-12-03 15:29] pingustar commented on #647
I have added REN and FYI to the `highCapPools` array

[2020-12-03 15:35] #647 closed

[2020-12-03 19:22] ashachaf opened #649 "Rewards counter and apr errors"
## rewards counter and apr mistakes
#### priority task as the new pools are added but they count down to the wrong end date.

### counter to unique end date for each pool
Every time a new pool is added to the liquidity mining rewards plan, it will count down to 12 weeks time stamp.

The newly added pools, will need to count down to this destination time:

destination date for these two pools is:
F

[2020-12-03 21:05] ashachaf commented on #621
@H34D - what is the status of this?

[2020-12-03 22:07] ashachaf commented on #649
### update
we have removed the anchors of the new pools from the `export const highCapPools` list.

[2020-12-04 04:49] ashachaf opened #650 "Total liquidity shows incorrect value"
Every now and than, when visiting the site, the total liquidity figures are off.

![image](https://user-images.githubusercontent.com/40430285/101123087-aa4aed80-35fc-11eb-94b4-60632f080342.jpeg)

After few refresh, value changes to this
![image](https://user-images.githubusercontent.com/40430285/101123174-e4b48a80-35fc-11eb-96e2-d7d33184f2e9.jpeg)

[2020-12-04 05:12] Velua commented on #649
Where can the app source the timestamp of when this happens? Will it always be 12 weeks? Is there a resource the app can fetch to confirm it's 12 weeks as well?

Looking at our current formula and tests written around it, the app is only supporting low and high tier pools, do you know what issue # this mid allowance was raised? Or is this being raised now?

How can we determine by a network resour

[2020-12-04 05:20] ashachaf commented on #649
All this data should exist in the rewards contract but this is eta in few weeks.
Which means we need a solution for this before the contract exist on the blockchain.

[2020-12-04 05:46] #649 closed

[2020-12-04 05:48] Velua commented on #649
Is there such thing as a low tier reward?
If the current numbers are correct then Mid rewards are current known as low rewards in the code.

We'll continue with the hard coding solution til we get a long term one implemented then.

[2020-12-04 09:47] pingustar commented on #635
@ashachaf

@H34D and @pingustar are looking into this now

[2020-12-04 10:43] pingustar commented on #635
added to staging @ashachaf

[2020-12-04 10:43] #635 closed

[2020-12-04 11:17] H34D commented on #621
working on it

[2020-12-06 08:43] ashachaf opened #656 "slippage indication - improved visibility"
as a user, when i make a trade and the price slippage is getting too big, i would like the system to give me the heads up so i can be aware of this and decide if i wish to proceed.

https://www.figma.com/file/3yED7o7TgoLwoEjV2EkRLL/Bancor-V2?node-id=1328%3A7

slippage indiation when slippage is greater than 3%:
- bold
- color in red

[2020-12-06 08:55] ashachaf commented on #615
@pingustar i recall a question on the ARP value for the grouped position, the APR is on the pool level over the last x days. it is not related to the user's current position or performance. as such, it stays the same calculation for both grouped or individual rows.

[2020-12-06 10:40] ashachaf opened #657 "statistics data doesnt load the full amounts"
stats section, sometimes, show less amount of locked liquidity.
there is no error in console.

![image](https://user-images.githubusercontent.com/40430285/101277861-0ca01b80-37c0-11eb-9f62-bbe30511f6f5.png)
![image](https://user-images.githubusercontent.com/40430285/101277869-1cb7fb00-37c0-11eb-8ef6-f8e8694f17b6.png)

[2020-12-06 11:31] ashachaf opened #658 "column selector for data/protect table"
as a user, i would like to manage the columns i see and make my view adjustable based on my needs.

1. when a user change the column view, save this data in a cookie or storage and use it on load.
2. when loading the table, check cookie/storage data and display only columns that are selected.
3. these columns are not part of the option to hide: protected, symbol and name, actions
3. default view i

[2020-12-06 15:55] yudilevi opened #659 "Metamask app not supported"
Multiple users reported that the metamask app (not browser extension) isn't supported in the app.
Reports were sent re. chrome OS and iphone.

[2020-12-06 21:02] ashachaf commented on #657
@Velua this is now a critical bug.
Please prioritize it.

[2020-12-07 03:03] sirius651 commented on #586
After tested out, It doesn't seem to reproduced in my side. Do you know how to reproduce this in detail? @pingustar

[2020-12-07 03:16] Velua commented on #657
While I couldn't replicate this on prod I was able to find a glitch that caused this when I was messing with racing and made a patch.
Let me know if you can continue to replicate.

[2020-12-07 06:59] ashachaf commented on #657
Will try to reproduce on production.

[2020-12-07 07:00] ashachaf commented on #621
@H34D please do what you can to close this issue today.

[2020-12-07 07:44] H34D commented on #621
will do

[2020-12-07 07:48] H34D commented on #481
in figma there is a mobile design where the table splits into two rows once the viewport is too small

[2020-12-07 08:31] pingustar commented on #615
@ashachaf great, thanks!

[2020-12-07 08:34] pingustar commented on #586
I had the browser window open for about 2h and then navigated away from the "Add Liquidity Protection" screen and navigate back to it.

[2020-12-07 09:27] H34D commented on #640
this is definitely related to #560

[2020-12-07 09:29] H34D commented on #560
you can reproduce this when staking a crude amount like 0.334343478349374234 and then try to unstake all, there must be rounding / conversion issue somewhere also related to #640

[2020-12-07 09:33] H34D commented on #151
This component is now only used in DoneProposals

[2020-12-07 10:12] pingustar commented on #659
![image](https://user-images.githubusercontent.com/7262066/101338310-176cb600-387d-11eb-8bf4-daf11f538bde.jpeg)

[2020-12-07 10:13] pingustar commented on #659
@yudilevi the user has to use the MetaMask App -> build-in browser in order to login and transact.

I have tested this on iPhone + Ropsten and it works fine.

[2020-12-07 10:15] pingustar commented on #650
@ashachaf is this a duplicate of https://github.com/bancorprotocol/webapp/issues/657 ?

[2020-12-07 10:16] #650 closed

[2020-12-07 10:38] Velua commented on #657
@ashachaf has said this can be more easily replicated by throttling ones internet connection.

[2020-12-07 12:18] pingustar commented on #615
would that not be misleading if it says 100% covered for the group but actually the group has only 1 positions that is at 100%?

@ashachaf

[2020-12-07 13:12] nhindman23 opened #664 "Can't log out from my wallet"
**Describe the bug**
This has been an issue since the site launched

**Expected behavior**
I try to log out and nothing happens

[2020-12-07 13:24] pingustar commented on #615
getting closer. @ashachaf please check staging and let me know what you think so far.

[2020-12-07 13:27] H34D commented on #664
@nhindman23 which wallet are you using exactly?

[2020-12-07 13:32] nhindman23 commented on #664
@H34D Metamask

[2020-12-07 13:32] H34D opened #665 "deploy feature branches to individual firebase instance"
**Is your feature request related to a problem? Please describe.**
Right now we only have the staging environment to test features on a close to production environment. It would be easier to have different environments for each feature so we can test them individually and only use the staging environment for consolidation.

**Describe the solution you'd like**
Deploy a firebase instance per featur

[2020-12-07 15:26] H34D commented on #664
then you have to log out via metamask, this is what the application says as well:

<img width="163" alt="Screenshot 2020-12-07 at 16 26 31" src="https://user-
images.githubusercontent.com/13647606/101369799-00dc5400-38a9-11eb-8680-04603e688f9d.png">

<img width="325" alt="Screenshot 2020-12-07 at 16 25 24" src="https://user-images.githubusercontent.com/13647606/101369690-e30eef00-38a8-11eb-93d5-0c

[2020-12-07 15:30] nhindman23 commented on #664
Ah woops, sorry missed that

On Mon, Dec 7, 2020 at 5:27 PM Sebastian Gerske <notifications@github.com>
wrote:

--
*Nate Hindman* || Bancor <https://about.bancor.network/> || Growth
+972-58-6993434 || Telegram: @natehindman

[image: bancor logo]

[2020-12-07 17:16] H34D commented on #664
no worries ;)

[2020-12-07 17:16] #664 closed

[2020-12-07 21:56] Velua commented on #665
How would this look technically? Could we have GitHub actions make one on the fly somehow? Then log the new Firebase address? Then when a branch is deleted a firebase instance is destroyed?

No idea how this works billing wise.

[2020-12-08 00:27] Velua commented on #657
No update on this one? I'm still unable to replicate despite throttling.

[2020-12-08 01:18] Velua commented on #615
@pingustar Found a bug where hitting the withdraw button doesn't work, looks like you're re-doing the positions listing according to the id + symbol rather than it's ID + index which is causing the look up to fail.

I've made a commit which makes a clean error illustrating this so you'll see.

I've also exported your grouping function to ```pureHelper.ts```, lets write a unit test for this one, it

[2020-12-08 03:32] sirius651 commented on #644
Because there was issues with css stuff from @H34D mentioned, should improve it more. we should resolve it by not using the current table components at all. I'm currently looking it.

[2020-12-08 07:43] H34D commented on #665
yes this is what i was thinking of, maybe the name of the branch can be the name of the firebase instance as well

[2020-12-08 07:45] H34D commented on #657
yesterday is was looking into the timeout behaviour of the web3 provider but i had no luck reproducing or fixing this locally

[2020-12-08 11:21] pingustar commented on #657
hotfix is deployed:

[2020-12-08 11:21] #657 closed

[2020-12-08 11:22] pingustar commented on #615
thanks @Velua will fix that.

[2020-12-08 14:33] pingustar commented on #615
I have finished this and added a test for the `groupPositionsArray` function.

@ashachaf please review.

[2020-12-08 17:05] yudilevi opened #668 "dual sided protection freezes"
When selecting "stake and protect", once the pool drop down list is populated, the app freezes.

This doesn't seem to happen all the time and might be related to performance but it's consistent for some users.

Video of the issue -
https://gyazo.com/62aa7532edacfbf263b18fb58aab65d6

[2020-12-08 17:34] pingustar commented on #552
![image](https://user-images.githubusercontent.com/7262066/101519880-fe9af800-3983-11eb-8cad-ca2fec75c3cf.png)

darkmode is missing the rounded corner now.

[2020-12-08 20:30] yudilevi opened #669 "Update the app to support the new network token minting limits system"
This change also involves a design change in the contracts - the protection contract was broken into 2 different contracts due to binary size restrictions -
- LiquidityProtection - holds the logic only
- LiquidityProtectionSettings - holds all the protection settings, **including the whitelist** etc. Can be accessed by querying the protection contract.

Note: high tier pools aren't defined in the

[2020-12-09 03:54] sirius651 commented on #552
The issue is because css in `SideBarBottom.vue` is not scoped, which is being affected to `SideBarLeft.vue` . Fixed commit is include `fix/timer-css-578-new`

[2020-12-09 07:45] ashachaf commented on #669
replacing task #621
@H34D

[2020-12-09 07:56] ashachaf commented on #615
@pingustar
few feedbacks on the implementation:
![image](https://user-images.githubusercontent.com/40430285/101600077-78be9180-3a03-11eb-8745-d7c3952f07a8.png)
- plus sign is not correct.
- group indication should be "open group" (due to space, you can use "un-group") and it needs to be in a button format and "close" when the group is open.

![image](https://user-images.githubusercontent.com/40430

[2020-12-09 08:53] ashachaf opened #672 "API3 token update"
API3 token has incorrect icon on our system
please update to use this one
![Token Image_api3](https://user-images.githubusercontent.com/40430285/101606981-b542bb00-3a0c-11eb-80a7-5c99ff2834d8.png)

[2020-12-09 08:58] Velua commented on #665
@pingustar Do you think this would be possible with GitHub actions?

[2020-12-09 09:02] H34D commented on #665
details can be found here: https://firebase.google.com/docs/hosting/github-integration

[2020-12-09 10:19] pingustar commented on #665
this would be pretty cool to have. But I feel like that it might be out of scope for the moment.

A compromise would be that we all have our own testing branch connected to a firebase instance.

[2020-12-09 11:09] pingustar commented on #672
@ashachaf

cannot find "API3" in the token registry.

Following info is needed to add it:

[code]

[2020-12-09 13:23] ashachaf opened #674 "add support for walletconnect wallet (part of onboard.js library)"
we would like to add support for walletconnect which is supported by onboard and requires us to enable it on load.

### current list (this is our code)
const wallets = [
  { walletName: "metamask", preferred: true },
  { walletName: "lattice", rpcUrl: RPC_URL, appName: APP_NAME },
  { walletName: "imToken", rpcUrl: RPC_URL, preferred: true },
  { walletName: "coinbase" },
  { walletName: "trust",

[2020-12-09 13:23] H34D commented on #621
given up for #669

[2020-12-09 13:23] #621 closed

[2020-12-09 17:44] pingustar commented on #674
@ashachaf please send me the keys and I'll update it.

[2020-12-09 21:29] yudilevi opened #675 "Incorrect decimals used in the add protection popup"
When showing the value you receive, it appears that 18 decimals are always used instead of the correct token decimals.

Steps to reproduce the behavior:
1. Go to liquidity protection page
2. Click the "stake and protect" button
3. Select the USDC pool
4. Put in a stake amount
5. Watch USDC in the "Value you receive" section, the value is much smaller than it should be

See example:
![image](https:

[2020-12-10 07:56] H34D opened #676 "Claim rewards"
**Is your feature request related to a problem? Please describe.**
Provide a process where users can register their positions to receive rewards, see their available rewards, withdraw and restake.

**Background**
Some bancor liquidity pools have rewards allocated for users who stake liquidity in them. To qualify for these rewards, you need to have a protected position activite on the relevant pool

[2020-12-10 08:55] ashachaf commented on #676
# protection table
https://www.figma.com/file/3yED7o7TgoLwoEjV2EkRLL/Bancor-V2?node-id=1443%3A22

## summary table
the new summary table will include data and actions:
### Data:
1. claimable rewards: this value indicates the currently available rewards that were already signed on the onchain contract and are claimable.
- this value is pulled from the contract on-chain. it is updated every few days

[2020-12-10 09:06] ashachaf opened #679 "update warning message on protected position withdraw (part of claim rewards task)"
related to: #676
make sure the update goes live together.

check:
IF the user has protected positions in pools that receive rewards, show the new warning.

https://www.figma.com/file/3yED7o7TgoLwoEjV2EkRLL/Bancor-V2?node-id=1443%3A1158

[2020-12-10 09:36] pingustar commented on #615
@ashachaf I have updated the group and withdraw buttons.

Can you share some more details about the required changes to the plus sign please.

[2020-12-10 09:42] pingustar commented on #674
updated and going to staging now.

[2020-12-10 09:42] #674 closed

[2020-12-10 09:49] ashachaf opened #681 "liquidityProtection contract split"
due to byte size, we have split the liquidityProtection contract into two new contracts.
current contract: production contract
0x135742E6C5d70FC960090EdDBd9f3C6D0D494E99

updated contract structure:
1. liquidityProtection
ropsten contract: https://ropsten.etherscan.io/address/0xfe961fd7293bd5102357382cde0b6e4dd75d7338#code
2. LiquidityProtectionSettings
ropsten contract: https://ropsten.etherscan.

[2020-12-10 10:06] ashachaf commented on #615
@pingustar
plus sign:
frame should be 14x14
plus should be 6x6

[2020-12-10 10:17] pingustar commented on #615
fixed.

[2020-12-10 10:17] #615 closed

[2020-12-10 11:41] H34D opened #683 "Hide border on collapesed vote table"
**Describe the bug**
hide this border when the table is displayed collapsed it will free up some space

<img width="107" alt="Screenshot 2020-12-10 at 12 10 49" src="https://user-images.githubusercontent.com/13647606/101764833-d2e15480-3ae0-11eb-9b4b-764a4a25ef5c.png">

its very obvious on dark theme
<img width="532" alt="Screenshot 2020-12-10 at 12 45 58" src="https://user-images.githubuserconten

[2020-12-10 12:59] H34D commented on #681
will be done with #673 related to or duplicate of #669

[2020-12-10 13:37] H34D commented on #334
fixed with #677

[2020-12-10 13:37] #334 closed

[2020-12-10 13:37] H34D commented on #481
fixed with #677

[2020-12-10 13:37] #481 closed

[2020-12-10 13:38] H34D commented on #644
fixed with #677

[2020-12-10 13:38] #644 closed

[2020-12-10 15:04] H34D commented on #669
@ashachaf any test data on ropsten? networkTokenMintingLimits returns 0 always on ropsten. Also i believe that networkTokenMintingLimits cannot be "undefined" but rather 0 if not set because of the defaults of uint256.

[2020-12-10 16:28] yudilevi opened #684 "Add support for type 3 converter"
Type 3 converter is a gas optimized version of the type 1 converter, specifically for standard pools (2 reserves and 50%/50% weights).
The interface is identical (except some legacy functions - see below) but since the type is different, some references might need to be adjusted.
Setting a fee queries the type today so that's one example the code needs to be updated, after pool creation.
There mig

[2020-12-10 16:42] H34D commented on #684
done https://github.com/bancorprotocol/webapp/commit/71be6e7dd8b0c39b63a42e1d319fb1da1d962fc0

[2020-12-10 16:42] #684 closed

[2020-12-11 01:59] #552 closed

[2020-12-11 02:09] #578 closed

[2020-12-11 02:10] #586 closed

[2020-12-11 02:11] #656 closed

[2020-12-11 11:27] pingustar opened #686 "Tech Depth Proposal - Move prettifyNumber function to BaseComponent"
As we use the helper function 'prettifyNumber' in a high number of components I have refactored all components to align the usage of this component and no more import is needed going forward.

[2020-12-11 11:37] ashachaf commented on #669
Xxxbnt

New settings contract, pull the pool limit.
https://ropsten.etherscan.io/address/0xff3ddf48b6ba7773e19b635b3bf0d339525a71cf#readContract
networkTokenMintingLimit: 0x6dc51c45f409385fc99a1c7b316d7fab15d66474
Pool minting: 50000000000000000000000

Now also identify how many bnt were minted already.
networkTokensMinting: 0x6dc51c45f409385fc99a1c7b316d7fab15d66474
26554714837518616832230

On th

[2020-12-11 11:56] ashachaf commented on #669
### protected position cliff and vesting:
moved to new settings contract: https://ropsten.etherscan.io/address/0xff3ddf48b6ba7773e19b635b3bf0d339525a71cf#readContract

maxProtectionDelay = total vesting duration for "full coverage"
minProtectionDelay = cliff duration

[2020-12-11 11:56] pingustar opened #688 "Rename interface ViewTableField in LayoutProposals.vue"
We have two interfaces now with the same name. To reduce the risk of importing and using the wrong interface please rename the following two interfaces in `LayoutProposals.vue`

Might also be worth moving the interfaces to `bancor.d.ts` while refactoring this. (I know I have set a bad example myself by doing the same thing in `DataTable.vue` - I will refactor that component too)

[code]

[2020-12-11 11:57] H34D commented on #669
please open another issue for this one

[2020-12-11 11:58] ashachaf opened #689 "settings contract updates - cliff and vesting data"
### protected position cliff and vesting:
moved to new settings contract: https://ropsten.etherscan.io/address/0xff3ddf48b6ba7773e19b635b3bf0d339525a71cf#readContract

maxProtectionDelay = total vesting duration for "full coverage"
minProtectionDelay = cliff duration

[2020-12-13 08:35] ashachaf commented on #669
bnt space available calculation is incorrect.
please make sure you indicate the bnt amount that was minted so far, this represents that space available for bnt.
ethtbnt converter: 0xc83241BFcfE9A2CDe5B98EdC009420A6dc5Ed241
ethtbnt token: 0x1aCE5DD13Ba14CA42695A905526f2ec366720b13
checking function networkTokensMinted, the result is 54.92809205995676547 BNT.
which means that the space available for

[2020-12-13 08:40] ashachaf commented on #669
seems 0.5% is too high of a buffer.
we can lower it to 0.1%.
related to this:

[2020-12-13 09:42] ashachaf opened #690 "stats - missing total volume data"
no error in console.
we see volume on the pool level.
it is only missing on the stats summary.

![image](https://user-images.githubusercontent.com/40430285/102008308-28636e80-3d38-11eb-8306-a60b55fcabe5.png)

[2020-12-13 09:43] ashachaf commented on #689
checking staging+ropsten again, it is working as expected.

[2020-12-13 09:43] #689 closed

[2020-12-13 09:49] ashachaf commented on #690
@Velua this might be something with the multicall?

[2020-12-13 10:58] #690 closed

[2020-12-13 10:58] pingustar commented on #690
It looks like we are getting faulty data for some pools. One example is ANT/BNT pool.

I have added another check to the calculation to skip the faulty pools. But we need to get to the bottom of this issue of receiving faulty data. It keeps breaking stuff.

[2020-12-13 11:16] ashachaf opened #692 "adding data refresh indication"
@Velua
this is first a question on possabilities.
IF we have a process that pulls fresh data every few seconds, can this be indicated on the data table (and later on protection table as well)?
see example:
![image](https://user-images.githubusercontent.com/40430285/102010206-4a172280-3d45-11eb-9a68-c24de963aecf.png)

[2020-12-13 12:37] ashachaf opened #693 "wallet logout doesnt logout the user"
### as a user, i would like to have the option to logout and disconnect my wallet from the app.

#### flow:
open bancor.network
click to connect wallet
see this:
![image](https://user-images.githubusercontent.com/40430285/102011989-76846c00-3d50-11eb-983d-0655c2fb51b1.png)
click to logout

#### results:
actual: nothing happens
expected: logout and disconnect my wallet from the app

#### fix:
onboa

[2020-12-13 12:45] ashachaf opened #694 "adding tool tip to slippage indication"
as part of task #656, we also wanted to include tool tip to better explain what is this value.

tool tip: The difference between market price and estimated price due to trade size

[2020-12-13 12:47] ashachaf commented on #659
confirm tests, you have to use metamask app browser to interact with dapps in mobile.
and once you do so, it works as expected.

[2020-12-13 12:47] #659 closed

[2020-12-14 02:42] Velua commented on #692
Yes it's possible, though how frequently would we want it to update? The more frequent the more concurrent request seats we're going to be utilising over time.

[2020-12-14 03:02] Velua opened #695 "Utilise eth-multicall in fetchContractAddresses method"
We're currently fetching contract addresses throughout the Bancor network using the method ```fetchContractAddresses``` inside the file ```ethBancor.ts```

This has recently grown to fetch even more contract addresses and I'd say it's now warranted to utilise fetching of them with the ```eth-multicall``` library rather than firing several requests at once as currently done with it's ```Promise.all

[2020-12-14 03:03] Velua commented on #695
@sirius651 I thought this might be a good opportunity for you to try out ```eth-multicall``` @H34D looks like he's got it down pat.

[2020-12-14 03:10] Velua commented on #681
Yeah looks like this is just a duplicate of #669 , closing.

[2020-12-14 03:10] #681 closed

[2020-12-14 04:19] Velua commented on #665
All good, can wait till the new year.

[2020-12-14 04:27] Velua commented on #679
Will add this as a comment.

[2020-12-14 04:27] #679 closed

[2020-12-14 04:28] Velua commented on #676
Comment from @ashachaf

make sure the update goes live together.

check:
IF the user has protected positions in pools that receive rewards, show the new warning.

https://www.figma.com/file/3yED7o7TgoLwoEjV2EkRLL/Bancor-V2?node-id=1443%3A1158

[2020-12-14 04:34] Velua commented on #672
Updated ```eth-tokens-registry```

[2020-12-14 04:34] #672 closed

[2020-12-14 07:44] H34D commented on #669
cool, will change that. thanks

[2020-12-14 08:39] pingustar commented on #686
Currently blocked because moving the 'prettifyNumber' function to the base component class breaks the testing of 'LabelContentSplit.spec.ts`

I talked to @sirius651 about this and it is because we rely on 'BigNumber' and 'Numeral' dependencies. As it will be easy to get rid of the 'numeral' library it wont be as easy to remove the 'BigNumber' dependency.

@sirius651 is looking into options of mock

[2020-12-14 08:57] pingustar commented on #693
done.

[2020-12-14 09:35] H34D commented on #669
done

[2020-12-14 09:35] #669 closed

[2020-12-14 10:32] pingustar commented on #222
@sirius651 is this something you can take of my hands. @ashachaf asked to get this implemented this week.

[2020-12-14 14:23] AdamOnChain opened #700 "Update OMG token logo & project name"
Rename OmiseGo to "OMG Network" and change OMG token logo to the image posted here: https://github.com/omgnetwork/omg-childchain-v2/blob/master/docs/assets/logo.png

[2020-12-14 15:25] ashachaf opened #701 "withdraw alert on price deviation"
as a user, when i try to withdraw my protected position, i would like to be informed if there is anything that can cause it to fail.
in this case, we check spot price vs averageRate and if the deviation is greater than 0.5%, the transaction will fail.

### in the withdraw window, check price deviation:
from task #480

#### error message:
Due to price volatility, withdrawing your tokens is currentl

[2020-12-14 15:30] ashachaf commented on #531
after yet another call with our mathematical advisor, we realized that decimals of the token were not part of the calculation.

## updated calculation:
`Sqrt((opposingDepositedReserveCurrentBalance/depositedReserveCurrentBalance)/ reserveRate*10**(opposingDepositReserveDecimals-depositedReserveDecimals)) * depositedReserveCurrentBalance / currentPoolTokenSupply * 2*originalPoolTokenAmount - deposi

[2020-12-14 15:58] ashachaf opened #702 "stake single side limits not enforced"
go to single side stake
enter amount which is higher than current space limit
switch token
switch back
expected: call to action button will be disabled.
actual: it lets you proceed (eventually metamask will fail the transaction)

https://streamable.com/1arhz5

[2020-12-14 16:17] yudilevi opened #703 "LiquidityProtectionSettings contract address should be retrieved from the LiquidityProtection contract"
LiquidityProtectionSettings contract address is taken from the contract registry. However, the registry isn't supposed to include that contract and we'd like to reduce dependencies on the registry.

The LiquidityProtectionSettings contract address should instead be retrieved from the LiquidityProtection contract (`settings` property).

Once this is deployed, please let us know so we remove the pro

[2020-12-14 16:24] ashachaf opened #704 "price deviation error - process update needed"
half way in the process of staking liquidity, the message on the site changed leaving me with an over priced transaction that will fail.

process i did:
swap bnt to ant
data -> stake -> single side
stake ant
trigger approve transaction -> sign it
while waiting for the stake transaction, the error appeared on the site
metamask transaction showed up with error indication and extreme gas price.

![im

[2020-12-14 17:39] StrateVic commented on #126
https://etherscan.io/address/0x7ff10d4add8c9c2f5e47798cd60544ad91c1f4ec

Please check this pool, its need to appear somewhere, i created it then disappear

Thx

[2020-12-14 20:43] yudilevi opened #705 "Flip the pools/tokens tabs in the data page"
Since we want to create a better experience for traders (vs LPs), we want the tokens page to be the default in the data page.
So the tabs should be "Tokens / Pools" and the tokens tab should be selected by default.

[2020-12-14 20:45] yudilevi opened #706 "Left menu - move the swap above the data page and have it be the default"
Since we want to create a better experience for traders (vs LPs), we'd like the swap page to be the default page when loading the app.
So it should be the default as well as the first item on the left menu.

[2020-12-14 21:08] jet86 commented on #700
Official OMG Network brand guidelines and assets are available here: [https://omg.network/press/](https://omg.network/press/)
The brand assets zip file contains the logo in a range of formats and options so that you can use the option that works best in various contexts.

[2020-12-14 22:16] Velua commented on #700
@sirius651 can update the ```eth-tokens-registry``` gave you permissions at https://github.com/Velua/eth-tokens-registry/invitations

[2020-12-14 22:27] Velua commented on #704
So you're saying you never received the error on the left until after you hit approve?

[2020-12-14 22:59] Velua commented on #531
What's the result of

on your end? We'll include this in the written tests.

[2020-12-14 23:05] Velua commented on #686
Is there a reason we don't want to utilise ```BigNumber``` ?

[2020-12-14 23:05] Velua commented on #686
@pingustar

[2020-12-14 23:11] Velua commented on #703
Done

[2020-12-14 23:11] #703 closed

[2020-12-14 23:24] Velua opened #709 "Bad reward numbers"
Some rewards on production are displaying either really large numbers or ```NaN```
![Screenshot at 2020-12-15 09:23:30](https://user-images.githubusercontent.com/8017434/102147901-3ee40400-3eb7-11eb-80e3-936d0a80afb1.png)

[2020-12-14 23:45] #709 closed

[2020-12-15 00:07] #683 closed

[2020-12-15 00:08] #694 closed

[2020-12-15 00:13] sirius651 commented on #222
@ashachaf  can you give me access to the link : https://app.zeplin.io/project/5d70f6905eefcd18e1c40502/screen/5f7d6f5e4d2dc806216e721e/

[2020-12-15 02:13] sirius651 commented on #668
Since the interface has changed, it is necessary to check again whether the issue is reoccurring. @yudilevi

[2020-12-15 06:39] ashachaf opened #713 "Statistics do not load"
**Describe the bug**
Loading the page is missing the statistics

![image](https://user-images.githubusercontent.com/40430285/102180075-f590b600-3eb0-11eb-9ddd-550e04305814.png)

**To Reproduce**
On mobile this is what I see every time I refresh

[2020-12-15 06:58] pingustar commented on #686
Misunderstanding between Will and I. He said that testing functions that utilise other libraries won't work. But he was referring to vuex not some random third party libraries. So we can keep using `BigNumber`.

Closing this.

[2020-12-15 06:58] #686 closed

[2020-12-15 07:34] sirius651 commented on #700
Updated

[2020-12-15 07:42] pingustar commented on #713
cannot reproduce. @ashachaf did this resolve itself or are you still experiencing this issue?

[2020-12-15 08:04] pingustar commented on #222
![Uploading image.png…]()

[2020-12-15 08:16] #688 closed

[2020-12-15 08:22] pingustar commented on #706
I will move swap to the top.

@yudilevi can you check the dns zone records. I believe https://app.bancor.network forwards to the data page. If thats the case we would need that to point to the root of the website. I can then take it from there.

[2020-12-15 08:39] #706 closed

[2020-12-15 08:41] pingustar commented on #706
going straight to production. Will be live in 5 min.

[2020-12-15 08:49] #705 closed

[2020-12-15 09:24] #702 closed

[2020-12-15 09:24] pingustar commented on #702
fixed, going to production.

[2020-12-15 10:22] ashachaf opened #721 "app is extremely slow to move"
**Describe the bug**
every interaction with the app takes 3-5 seconds to actually happen. clicking a button takes 3-5 sec to execute the action.

**To Reproduce**
go to bancor.network
click data
click stake "+"
(but pretty much any click result in the same thing)

go to bancor.network
click data
click the search and type "dai"

https://streamable.com/2styt3

[2020-12-15 10:33] H34D commented on #704
i think this has been discussed on telegram some time ago where someone on twitter mentioned something like this. It seems a bug in the contract that triggers when numbers with lots of decimals is used leading to extreme gas usage / gas estimations. maybe @yudilevi still has the link to the tweet?

[2020-12-15 10:34] H34D commented on #704
found it https://twitter.com/ChainlinkShill/status/1331659103006044162

[2020-12-15 10:39] yudilevi commented on #668
Yup, still does. I think something we did caused the search option to be very very slow, probably the same issue.

[2020-12-15 21:03] ashachaf opened #723 "rewards tool tip text update"
data table -> rewards column tool tip update:

current tool tip:
Estimated APR based on the maximum (2x multiplier) weekly BNT Liquidity Mining rewards. Counter indicates time until 12-week rewards cycle concludes. Rewards are pending governance.

updated tool tip:
Estimated APR based on the maximum (2x multiplier) weekly BNT Liquidity Mining rewards. Counter indicates time until 12-week rewards c

[2020-12-15 21:56] Velua opened #725 "App making too many requests"
We're seeing a large surge in requests that aren't inline with user traffic, requests appear to be spamming ```get_events```

[2020-12-15 22:03] ashachaf opened #726 "gas estimation is too high on the transactions"
as a user, i would like to receive a cost estimation that is close to the actual cost.
currently, it seems we average 35%-45% over estimate the gas required for every transaction and the result is "scaring" people off by perceived higher prices (eventually, the user will pay 35%-45% less on the transaction).

#### example:
go to swap
attempt to execute eth->link swap
estimation: 462,636 gas units

[2020-12-15 22:19] ashachaf opened #727 "double approve transaction when not needed"
we force approve 0 on all tokens.
however, some tokens support approve amount if current approve is not 0.

what to do?

create a list of token addresses that are indicated they do not require approve 0. make sure this list is in a place easy to create pull request for.
on swap, check from token against list, IF exist -> skip approve 0 and move to skip amount.
TBD:
create a list of tokens that do

[2020-12-15 22:20] ashachaf opened #728 "protection table - unable to load protected positions"
go to protection tab

![image](https://user-images.githubusercontent.com/40430285/102279669-75ac2f80-3f34-11eb-8e7e-678681b2a826.png)

[2020-12-15 22:24] Velua commented on #725
Topic ```0x81cd2ffb37dd237c0e4e2a3de5265fcf9deb43d3e7801e80db9f1ccfba7ee600``` appears to be ConversionFeeUpdate related.

[2020-12-16 00:53] Velua commented on #727
We're currently already doing this in a hardcoded array of token contracts, atm it just has the Bancor governance contract.

```const noNullingTokenContracts = [this.liquidityProtectionSettings.govToken];```

Do you know a list of tokens? Or a way of figuring out which ones don't need forcing of approve 0 on?

[2020-12-16 01:18] #700 closed

[2020-12-16 01:22] Velua commented on #713
![Screenshot_2020-12-16-11-20-36-09.jpg](https://user-images.githubusercontent.com/8017434/102292478-f3058d80-3f90-11eb-9f12-a7e0737ed6f5.jpg)

Can't reproduce either.

[2020-12-16 02:02] #725 closed

[2020-12-16 04:53] Velua opened #730 "Refactor navigation"

[2020-12-16 04:55] Velua opened #731 "Review SelectPoolRow.vue"
I've discovered some funky looking code in ```SinglePoolRow.vue```

[code]

It appears ```getPoolLabel``` simply returns a string out of the reserves, in which case this is going be truthy so long as there's reserves in a relay?

@pingustar can I get your review of this.

[2020-12-16 04:57] Velua opened #732 "Decomission PoolActionsAddV2.vue"
My current understanding is that we're no longer supporting add liquidity for V2 pools, only v2.1 pools.

Component ```PoolActionsAddV2.vue``` therefore may be superfluous, please confirm. If so, delete entirely.

[2020-12-16 05:02] Velua opened #733 "Review RemainingTime2.vue component"
There appears to be both ```RemainingTime.vue``` and ```RemainingTime2.vue``` components,
Determine what the difference is, shouldn't be warranted to have two unless for a good reason. See if we can get whatever accommodations there may be in the second component from a prop in the first one instead.

[2020-12-16 05:02] Velua commented on #733
@pingustar Taking a peek at commit history you might have some knowledge of this.

[2020-12-16 05:12] Velua commented on #730
Components ```SideBar.vue```, ```SidebarBottom.vue```, ```SideBarLeft.vue``` has some pretty atrocious in house routing logic that isn't in best practices with the Vue Router library, please refactor entirely with a good understanding of Vue Router best practices, feel feel to start these from scratch.

[2020-12-16 07:07] Velua commented on #721
@H34D I've expanded on your branch on mine, what part is remaining as a draft? Just so I don't merge something only half done on your end.

Looking at the performance tab on Chrome I'm finding a lot of time being spent destroying the Vnodes in what looks like in one of the table components, even when I just limit relays to 5 it still takes longer than what it should to move on.

[2020-12-16 08:34] Velua commented on #721
@H34D
Please review my changes and compare staging to prod, see if it's worth making the shift over.

Just gonna drive home now, will check in with you after that before retiring, handing over to you.

[2020-12-16 08:38] H34D commented on #721
ok, i can take it from here again.

[2020-12-16 08:47] pingustar commented on #733
`RemainingTime.vue` was build for the vote page and has a bunch of specific logic and css for that usecase. Due to time pressure I replicated a simpler version of it for the protected positions table.

Given the latest changes in regards of mockups. It looks like we are going back to a simpler progress bar and `RemainingTime2.vue` will no longer be in use.

![image](https://user-images.githubuserc

[2020-12-16 08:49] Velua commented on #733
Awesome lets just kill it then.

- [ ] Delete ```RemainingTime2.vue```

[2020-12-16 09:08] pingustar commented on #731
yea no idea why I added the filter there. Removed it.

[2020-12-16 09:08] #731 closed

[2020-12-16 09:37] H34D commented on #728
i think this was fixed by the change of the block limit with alchemy? https://github.com/bancorprotocol/webapp/pull/729

does this still happen for you @ashachaf ?

[2020-12-16 13:08] ashachaf opened #736 "protected position - withdraw flow update"
as a user, i would like to better understand where my bnt is after i withdraw from protection.
(it is locked for 24h and is visible below the fold, which is why some people miss it).

transaction confirmation update:
add gray text to highlight the fact that bnt is subject to lock period

https://www.figma.com/file/3yED7o7TgoLwoEjV2EkRLL/Bancor-V2?node-id=1557%3A2

force scroll:
when a user see the

[2020-12-16 15:02] pingustar commented on #728
I noticed that APR is showing 0.00% for all my positions:

![image](https://user-images.githubusercontent.com/7262066/102365608-0710b580-3fb8-11eb-8b9f-a55a2203d31e.png)

No error logged.

[2020-12-16 15:15] pingustar commented on #676
@ashachaf as a followup to our call today:

Currently we need further information for:

**UI mockups and contracts not aligned**
- Withdraw rewards
- ReStake rewards

**Where to get this data**
-  Future Rewards
- Total Reward to date
- Multiplier

[2020-12-17 04:14] sirius651 commented on #668
when I checked again, it seems to have been resolved along with #721

[2020-12-17 10:54] H34D commented on #668
seems to be fixed, i cannot recreate it anymore

[2020-12-17 10:54] #668 closed

[2020-12-17 10:54] H34D commented on #721
fixed, please reopen if still happening

[2020-12-17 10:54] #721 closed

[2020-12-17 12:51] ashachaf opened #743 "pool creation - remove usdb option as base reserve"
when a user wants to create a new pool, we allow an initial selection between bnt and usdb as the base token that connects the pool to the network.

please remove the option to select usdb as an option.
https://www.figma.com/file/3yED7o7TgoLwoEjV2EkRLL/Bancor-V2?node-id=1564%3A2

[2020-12-17 13:40] ashachaf opened #744 "space available new function"
we have decided to move the "space available" calculation to the contract level and prevent any logical calculations outside it. this will simplify the process for any external dev and integrators in the future.

### new function:
```poolAvailableSpace(poolAnchor)```
returns an array of two amounts
base token, bnt token

the return value is the available space for each reserve in the pool in wei a

[2020-12-17 14:29] H34D commented on #728
i cannot reproduce that, works flawless on ropsten. any more details?

[2020-12-17 16:42] barakman commented on #744
Added in https://github.com/bancorprotocol/contracts-solidity/pull/507

[2020-12-17 16:47] H34D commented on #744
so there will be another smart contract upgrade then?

[2020-12-17 16:51] barakman commented on #744
@H34D : Yup.

[2020-12-17 19:22] ashachaf commented on #744
this implementation should wait until the new contract is deployed.
@H34D

[2020-12-18 00:56] Velua commented on #726
@yudilevi Can we reliably hard code the gas cost of the transactions were performing? Atm it's just Web3 estimate based.

[2020-12-18 09:11] H34D opened #745 "Swap text is misaligned in modal dialog"
**Describe the bug**
swap text is misaligned

<img width="540" alt="Screenshot 2020-12-18 at 10 10 44" src="https://user-images.githubusercontent.com/13647606/102596362-5b7f7680-4119-11eb-9c07-034641235fed.png">

[2020-12-18 09:23] H34D commented on #745
fixed

[2020-12-18 09:23] #745 closed

[2020-12-18 10:26] yudilevi opened #747 "Vote start time text sizing issue"
Vote start time header and value collide on mobile.

![image](https://user-images.githubusercontent.com/1134236/102603974-7357fa00-411b-11eb-9615-e98b0fa77e8f.png)

[2020-12-18 10:28] yudilevi opened #748 "User unable to remove single sided liquidity (insufficient vBNT balance)"
Insufficient vBNT balance even though the user has enough balance.
Potentially a rounding issue?

![image](https://user-images.githubusercontent.com/1134236/102604173-b3b77800-411b-11eb-899f-03dd12da2b77.png)

[2020-12-19 13:47] yudilevi opened #749 "Insufficient balance error when trying to add BNT liquidity using trust wallet"
User report:
Trying to add liquidity (BNT, single sided) using trust wallet, the app always shows "insufficient funds" even though the user has enough BNT in his wallet.

[2020-12-20 07:32] ashachaf opened #750 "protected table - missing APR values"
![image](https://user-images.githubusercontent.com/40430285/102707741-3e2be300-42a6-11eb-8023-e38b5c396d78.png)

missing APR values.
no error in console.

[2020-12-20 10:26] ashachaf commented on #750
duplicated. closing.

[2020-12-20 10:28] ashachaf commented on #728
also noted in #750
no errors in console

[2020-12-20 13:15] yudilevi opened #751 "Voting - create proposal window doesn't close until the transaction is mined"
When creating a new proposal, the proposal window stays open while the tx is pending which makes the user think the action didn't register and can cause them to create another proposal

Steps to reproduce the behavior:
1. Vote screen
2. Click the new proposal button
3. Fill in the details and hit the "propose" button
4. Sign the tx
5. The new proposal window stays open

The new proposal window sho

[2020-12-20 14:33] ashachaf opened #752 "unstake bnt position - not updating vBNT balance on frontend"
when removing bnt position, wee check vBNT balance first and indicate if there is a possible error.
if a user perform several withdrawals one after the other,  frontend doesnt fetch updated vBNT balance, as a result does not indicate if balance is not sufficient and allow user to trigger metamask transaction that will result in an error.

### reproduce:
- go to protection table
- find a bnt positi

[2020-12-20 15:20] ashachaf commented on #713
i cannot reproduce.
might be related to slow wifi or something.

[2020-12-20 15:20] #713 closed

[2020-12-20 16:03] ashachaf commented on #727
list of tokens that require approve 0

(each row contains: token address | is approve 0 required | token symbol for few)
**token address** | **approve 0 required** | **token symbol**
0x309627af60f0926daa6041b8279484312f2bf060 | yes |  
0x29a99c126596c0dc96b02a88a9eaab44eccf511e | no |  
0x4fabb145d64652a948d72533023f6e7a623c7c53 | yes |  
0xd46ba6d942050d489dbd938a2c909a5d5039a161 | yes |  
0x1f57

[2020-12-21 07:41] harmoniser444 opened #754 "EOS VOID/BNT pool - Adding liquidity does not work."
Hi, when trying to add liquidity in bancor.network EOS section in VOID/BNT pool, I first got a success message yet no funds were moved, and now I get this error message:

Transaction failed
Error: Error: Unexpected token < in JSON at position 0.

BNT being used : 0.477425 (my balance = 0.477426)
VOID indicated by app for use : 190540.4972 (my balance 66666666.0000000)

To reproduce, I login on my

[2020-12-21 08:32] pingustar commented on #222
going with the quick and easy solution of replacing the blue top bar with the warning/error. Ropsten will show a warning, and unsupported networks will show an error.

[2020-12-21 08:32] #222 closed

[2020-12-21 08:32] #723 closed

[2020-12-21 08:33] H34D commented on #728
it has been fixed by alchemy updating their limits

[2020-12-21 08:33] #728 closed

[2020-12-21 08:34] H34D commented on #750
i cannot reproduce this on ropsten, how did you get this @ashachaf ?

[2020-12-21 08:36] H34D commented on #750
and most importantly: what are the expected values?

[2020-12-21 08:45] pingustar commented on #151
is done proposals utilized? When do proposals move over to the done tab?

[2020-12-21 08:49] ashachaf commented on #750
reference task that use the base APR caluclation and average it out for the data table. protection table use single side APR as it indicates the APR for the token side you have the position in.
https://github.com/bancorprotocol/webapp/issues/392

[2020-12-21 08:50] H34D commented on #151
not yet, but should be a quick one, maybe we can open a specific issue for it and remove the old one afterwards?

[2020-12-21 08:56] pingustar opened #755 "Move Votes to the 'Done Proposal'-Tab"
- [ ] Move Votes that are done to the 'Done Proposal'-Tab
- [ ] migrate done proposal component to utilize the data table

[2020-12-21 08:58] pingustar commented on #151
https://github.com/bancorprotocol/webapp/issues/755

created an issue with both tasks - so once 755 is closed ... we can finally close this issue here too. fingers crossed ;)

[2020-12-21 09:12] pingustar commented on #730
This might be worth checking out: https://bootstrap-vue.org/docs/components/sidebar

I think it would be kind a cool to be able to hide the sidebar, or have a minimized version of it that just shows the icons. But this is just a thought. @ashachaf what do you think about that?

- [ ] While doing this refactor, lets also add the 'external link' icons to the menu items that open in a new tab.
- [ ]

[2020-12-21 09:26] H34D commented on #755
well, this happens automatically once the right methods have been called on the governance contract. You can either call tallyVotes or execute on the contract. Once one of them is executed they will show up under done.

[2020-12-21 09:29] pingustar commented on #755
ah gotcha. so this is something that @yudilevi has to do on a contract level?

[2020-12-21 09:39] H34D commented on #755
basically everyone can do it, they are public once the voting period has expired. It is only costing gas so it might be good to do it when the blockchain is not so expensive.

[2020-12-21 09:59] Velua commented on #727
Parsed version,

[code]

[2020-12-21 10:38] ashachaf commented on #727
we must qa this with all major tokens before we push to prod.

[2020-12-21 10:40] ashachaf commented on #628
unable to reproduce.

[2020-12-21 10:40] #628 closed

[2020-12-21 11:12] ashachaf commented on #727
considering a different approach.

[2020-12-21 12:07] yudilevi commented on #726
@Velua not really, that can lead to all sorts of problems. check what others are doing and find out why our code produces different limits.

[2020-12-21 12:39] ashachaf opened #757 "swap tokens - rate toggle"
as a user, i would like to have the option to toggle the rate of the assets in display.

when i click the rate area (where it says "1 BNT = 0.0023467 ETH", you should display the inverse rate

example:
set the swap window to convert from ETH->BNT, rate will be: "1 ETH = 489.405610684 BNT"
click the rate area
update the rate to display the inverse rate (as if i am setting the swap window to BNT->ET

[2020-12-21 12:46] ashachaf commented on #727
opening a new task with improved logic.

[2020-12-21 12:47] ashachaf opened #758 "approve - improved logic to prevent approve transaction when not needed"
we force approve 0 on all tokens.
however, some tokens support approve amount if current approve is not 0.

what to do?
1.  check user current approve: IF current approve amount > amount we need, do not trigger approve and only trigger:
- transaction
2. run a check with "approve {amount}", if web3 doesnt return any error/issue,
- trigger approve {amount}
- transaction
3. else, if approve {amount}

[2020-12-21 14:12] pingustar commented on #752
fixed.

I have added balance fetching everytime you visit the withdraw page + an interval to check every 10 sec while on the withdraw page.

I also added a bit more context to the error, it now shows how much vBNT you are missing.

![image](https://user-images.githubusercontent.com/7262066/102785843-e3c27d80-439e-11eb-8086-cba2cc4362c5.png)

[2020-12-21 14:12] #752 closed

[2020-12-21 14:18] pingustar commented on #748
cannot replicate. Do we have information if the user has been able to withdraw by now?

[2020-12-21 15:13] pingustar commented on #757
@ashachaf can you check staging. The math seems correct. But there is a difference in swapping BNT->ETH and ETH->BNT - I am not sure if that is expected or not.

Please double check.

[2020-12-21 15:13] ashachaf opened #759 "Disable pool token protection"
## Goal
Remove redundancy of processes and alight the app with our main single side staking flow.

## TO DO
### Protection tab
#### Stake for protection flow
following the click on the "stake" CTA:
- open the pool selection window. following a user selection
- open the single side staking popup and add the blue text box (remove the single/dual side protection selection popup)
- https://www.figma.c

[2020-12-21 15:54] yudilevi opened #760 "Pool whitelist is still taken from the protection store contract instead of from the protection settings contract"
The pool whitelist was moved from the protection store to the protection settings contract.
The webapp still uses the old location which means that whitelisting a pool isn't reflected in the app.

Example: SNX is currently whitelisted but has no "shield" in the app.

[2020-12-21 15:57] pingustar commented on #757
Checked with Asaf. Done.

[2020-12-21 15:57] #757 closed

[2020-12-21 16:00] yudilevi opened #761 "User reported that ledger wallet isn't working in the app"
Only info we got:
"When I select a Ledger wallet here http://app.bancor.network page - nothing happens".

No idea if we ever tested it but it should be tested and confirmed working.

[2020-12-21 16:37] H34D commented on #760
what is the field to query on the settings contract?

[2020-12-21 16:40] ashachaf opened #762 "pool tokens - remove liquidity (withdraw) popup update"
we would like to update the withdraw pool token popup.
swap->pool->remove liquidity
![image](https://user-images.githubusercontent.com/40430285/102800200-36f6f900-43bc-11eb-82db-f9516285cfd5.png)

current screen:
![image](https://user-images.githubusercontent.com/40430285/102800244-470ed880-43bc-11eb-8fbb-1b01fb13a59b.png)

new design:
- when the user select %, calculate how much from his pool tok

[2020-12-21 16:41] H34D commented on #760
found it

[2020-12-21 16:46] H34D commented on #760
fixed

[2020-12-21 16:46] #760 closed

[2020-12-22 09:14] ashachaf commented on #759
single side staking error message update:
current message:
ALEPH limit reached. Additional BNT liquidity should be staked to allow for ALEPH single-sided staking. Alternatively, provide dual-sided liquidity (BNT+ALEPH)

updated message:
ALEPH limit reached. Additional BNT liquidity should be staked to allow for ALEPH single-sided staking.

![image](https://user-images.githubusercontent.com/4043028

[2020-12-22 10:01] ashachaf opened #765 "update aave token image"
aave token logo is missing

token address: 0x7Fc66500c84A76Ad7e9c93437bFc5Ac33E2DDaE9
![AAVE](https://user-images.githubusercontent.com/40430285/102876091-6a359880-444d-11eb-8d22-c2ec8dddac30.png)

[2020-12-22 10:38] ashachaf commented on #759
data->add liquidity
check if BNT reserve balance > 1000, open single side.
otherwise, open dual side option.

protection -> stake -> token selection
if pool bnt reserve is < 1000, do not show it in the list.

1000 is a value we have in the contract so you should use it from there.
contract protoectionSettings
https://etherscan.io/address/0xd444ec18952c7cAf09636f21807683DaCC1d7dA9#readContract
func

[2020-12-22 11:55] ashachaf opened #766 "trigger transactions - identify a "speed up" transaction"
as a user, i can decide to speed up the transaction in order to have it executed faster.
this result in creating a new transaction with new hash on the blockchain.
however, our application doesnt know to track the new transaction and. is kept stuck pending waiting for the dropped transaction to complete.

![image](https://user-images.githubusercontent.com/40430285/102886111-2e0a3400-445d-11eb-9e95

[2020-12-22 12:19] ashachaf commented on #748
user indicated this might have been a result of switching wallets and vBNT balance not updating.
this issue was addressed in task #752

[2020-12-22 12:19] #748 closed

[2020-12-22 16:41] #750 closed

[2020-12-22 16:42] H34D commented on #750
fixed https://github.com/bancorprotocol/webapp/commit/afe3580c263124543ed8baf1877ef5841c4c419a

[2020-12-22 17:02] H34D commented on #750
i created a PR. @pingustar can you nurse this through to production please? https://github.com/bancorprotocol/webapp/pull/767

[2020-12-22 17:04] H34D commented on #750
already merged

[2020-12-23 09:08] ashachaf opened #768 "pool selection popup - slow to response"
pool selection popup can be opened from different flows.
some flows cause it to have performance issues and be extremely slow.

fast flow:
protection tab -> stake -> single side staking
search and pool selection response immediately.

slow flow:
protection tab -> stake -> single side staking -> select a pool -> click the pool to select a new pool
try to search or select a pool

slow flow 2:
swap t

[2020-12-23 10:11] ashachaf commented on #704
between the time i start the process to the point i get the actual "stake" transaction to sign, price can change and cause this to no longer be valid.

https://streamable.com/qpa1j3

[2020-12-23 11:08] pingustar commented on #759
done, going to production now.

[2020-12-23 11:08] #759 closed

[2020-12-24 09:19] pingustar opened #770 "Fetch min BNT reserve value from chain"
related to #759

1000 currently hardcoded.

**from asaf:**
1000 is a value we have in the contract so you should use it from there.
contract protoectionSettings
https://etherscan.io/address/0xd444ec18952c7cAf09636f21807683DaCC1d7dA9#readContract
function: minNetworkTokenLiquidityforMinting
return the min amount of bnt in the pool to allow single side staking.

[2020-12-24 10:44] pingustar commented on #762
done. Going to staging now.

[2020-12-24 10:44] #762 closed

[2020-12-24 10:45] pingustar commented on #761
I have a Ledger, just need to find it and set it up.

[2020-12-24 11:39] pingustar commented on #761
tested, and works fine.

Login, loads balances, can confirm transaction.

Only worked on mainnet though. Ropsten didnt load the balances.

[2020-12-24 11:39] #761 closed

[2020-12-26 18:58] yudilevi opened #772 "Show the user how much BNT has to be added to a pool in order to open up more space for TKN"
It's currently unclear how much BNT (minimum) needs to be added to a pool in order to start opening up space for more TKN.
Would be useful to show that number somewhere in the app.

@ashachaf need your input here on design.

[2020-12-27 07:34] ashachaf commented on #772
this was discussed with @nhindman23 and indicated this might not be a valuable data point for the users.

[2020-12-27 08:45] ashachaf opened #773 "space available - incorrect input amount"
go to data -> add liquidity (single side) -> click the "space available"
when "space available" indication is 0, the amount it should pass into the input field should also be 0.

![image](https://user-images.githubusercontent.com/40430285/103167034-5cf32200-4830-11eb-94ee-72332070d644.png)

[2020-12-27 09:31] #754 closed

[2020-12-27 09:31] harmoniser444 commented on #754
automagically solved... not sure how.

[2020-12-28 07:10] ashachaf opened #774 "adding rewards indication to snx pool"
we would like to activate the rewards on the snx pool as the vote indicated.

counter destination date:
March 22, 2021 8am GMT

pool address:
0x83a06A518Acc8cc841B0D7833f9c2f85Fc2D2D2a

pool token address:
0xAdAA88CA9913f2d6F8Caa0616Ff01eE8D4223fde

this is a mid size rewards pool. as such, the rewards are between 10,000-20,000 bnt per week.
calculating rewards (reminder as this code exists):
IF S

[2020-12-28 07:23] ashachaf opened #775 "add indication of space available"
### in space available
**IF TKN space available is smaller than 1**, add indication to show how many bnt are needed to open up space for tkn side
amount needed to open up space: {amount of bnt to free up space for 1 tkn staking}
https://www.figma.com/file/3yED7o7TgoLwoEjV2EkRLL/Bancor-V2?node-id=1696%3A2
info bubble should open tool tip:
text: For more information [click here](https://docs.bancor.

[2020-12-28 07:32] sirius651 commented on #730
![스크린샷 2020-12-28 오후 4 13 25](https://user-images.githubusercontent.com/1606820/103197163-e5ed8480-4928-11eb-9120-d0a845df4b12.png)

![스크린샷 2020-12-28 오후 4 13 32](https://user-images.githubusercontent.com/1606820/103197191-f0a81980-4928-11eb-9b53-3a39fdffa94d.png)

Added sidebar for replacing with bottom bar. What does it look like? It seems confused drawer button with other top bu

[2020-12-28 09:42] #774 closed

[2020-12-28 09:43] pingustar commented on #765
this is done, isnt it?

[2020-12-28 09:43] #765 closed

[2020-12-28 09:46] pingustar commented on #772
@ashachaf this is the same as #775 or?

Going to close this and lets continue at #775 as we have the calculations there.

[2020-12-28 09:46] #772 closed

[2020-12-28 11:04] pingustar commented on #770
done. @ashachaf I have tested with BAND token as that pool has less than 1000BNT liquidity. Please double check and reopen if need be.

[2020-12-28 11:04] #770 closed

[2020-12-28 11:34] pingustar commented on #743
done, going to staging now.

[2020-12-28 11:34] #743 closed

[2020-12-28 13:27] ashachaf commented on #531
@Velua i've updated the calculation above.

[2020-12-29 02:35] sirius651 opened #780 "Improvement design of navigation"
**Is your feature request related to a problem? Please describe.**
As discussed with @ashachaf, It is necessary to improve the current navigation design.

- Side navigation takes up a lot of space on the desktop.
- The current bottom sticky bar on the mobile looks good, but if more menus, it needs have options to choose from.

**Describe the solution you'd like**

- A toggle button to shrink or ex

[2020-12-29 02:41] sirius651 commented on #730
As discussed with @ashachaf , we decided to stop implementing this sidebar. And will going to #780

[2020-12-29 08:13] ashachaf opened #782 "space available - disable button until limits load"
data->single side staking
expected: "stake and protect" call to action should be default to disabled
actual: until limits load, i am able to proceed with the stake even if the amount i am trying to stake is above the limits.

![image](https://user-images.githubusercontent.com/40430285/103269332-4bd81b80-49be-11eb-8a0e-d47490828590.png)

[2020-12-29 08:20] ashachaf commented on #744
new contract is live on mainnet.
please implement this process.

new contract: 0xc9D9dc719C49edfc6bf9e0F0400Fc341cE93C298

[2020-12-29 08:23] ashachaf commented on #499
the option to stake pool tokens is no longer available.

[2020-12-29 08:23] #499 closed

[2020-12-29 09:13] pingustar commented on #701
updated the code. @ashachaf how can I trigger the price deviation to test this error?

[2020-12-29 09:16] #773 closed

[2020-12-29 09:19] pingustar commented on #782
updated.

[2020-12-29 09:19] #782 closed

[2020-12-29 11:38] pingustar commented on #701
Fixed an error with vbnt balance fetching. And the price deviation shows up for one of my positions, so I assume it works. Closing this, please review and reopen if need be @ashachaf

[2020-12-29 11:38] #701 closed

[2020-12-29 15:55] ashachaf opened #784 "adding rewards indication to aave pool"
we would like to activate the rewards on the **aave** pool as the vote indicated.

counter destination date:
Thursday, March 25, 2021 9:00 am GMT

pool address:
0x5bEdB6E03fA9aA4A5a35152dab8336bC57376b90

pool token address:
0x6c84F4ccC916ACf792538f1293b286b540906A2a

this is a mid size rewards pool. as such, the rewards are between 10,000-20,000 bnt per week.
calculating rewards (reminder as this

[2020-12-30 08:39] pingustar commented on #732
done

[2020-12-30 08:39] #732 closed

[2020-12-30 08:51] pingustar commented on #784
Title says AAVE and comment says SNX. To clarify. I have added SNX a couple of days ago. This must be AAVE then.

Blocked due to missing timestamp for reward endtime.

@ashachaf please comment once available.

[2020-12-30 08:59] ashachaf commented on #784
i duplicated the task.
this one is for aave.
no date because it hasnt reached the limit yet.

[2020-12-30 13:28] #744 closed

[2020-12-31 09:31] pingustar commented on #784
added.

[2020-12-31 09:31] #784 closed

[2020-12-31 13:49] ashachaf commented on #780
side menu is taking up too much space from the tables we want user to view.

https://www.figma.com/file/3yED7o7TgoLwoEjV2EkRLL/Bancor-V2?node-id=1679%3A20
https://www.figma.com/file/3yED7o7TgoLwoEjV2EkRLL/Bancor-V2?node-id=1682%3A25
https://www.figma.com/file/3yED7o7TgoLwoEjV2EkRLL/Bancor-V2?node-id=1682%3A134

https://streamable.com/22sf5o
https://streamable.com/heri7y

[2021-01-04 02:18] Velua commented on #730
Alright @sirius651 just make sure that the refactoring idea of this one is fulfilled in #780 don't be afraid to delete components or re-work how routing works here.

[2021-01-04 02:18] #730 closed

[2021-01-04 02:37] Velua commented on #758
Moving to #727

[2021-01-04 02:37] #758 closed

[2021-01-04 02:37] Velua commented on #727
we force approve 0 on all tokens.
however, some tokens support approve amount if current approve is not 0.

what to do?
1.  check user current approve: IF current approve amount > amount we need, do not trigger approve and only trigger:
- transaction
2. run a check with "approve {amount}", if web3 doesnt return any error/issue,
- trigger approve {amount}
- transaction
3. else, if approve {amount}

[2021-01-04 02:43] Velua commented on #727
@ashachaf Given this is still addressing the same issue we can just continue the topic.

[2021-01-04 02:45] Velua commented on #751
@sirius651 did this get done?

[2021-01-04 02:46] #450 closed

[2021-01-04 02:59] sirius651 commented on #751
@Velua  yes, done.

[2021-01-04 02:59] #751 closed

[2021-01-04 03:00] #747 closed

[2021-01-04 04:19] Velua commented on #727
As far as I know Web3 won't return any error, unless we actually prompt a transaction to be approved/denied, we can estimate gas and assume an error out of that but with my current testing where gas should have been higher than normal it wasn't as if the error is not getting.

I had no suggestion there would be an error in this TX from Web3
https://etherscan.io/tx/0xc2a313cc94b0b2e5fa55ebab2baec36

[2021-01-04 06:39] Velua commented on #775
We can't determine the available space with the method ```poolAvailableSpace``` on the protection contract? @ashachaf

[2021-01-04 07:39] Velua commented on #90
Looks like Uniswap doesn't let the user spend their last .01 ETH

[2021-01-04 08:04] sirius651 commented on #780
![스크린샷 2021-01-04 오후 2 11 16](https://user-images.githubusercontent.com/1606820/103512993-15623b00-4ead-11eb-8d6b-237b595d1cae.png)

![스크린샷 2021-01-04 오후 4 09 47](https://user-images.githubusercontent.com/1606820/103513100-4478ac80-4ead-11eb-8a57-de790b42d8ca.png)
![스크린샷 2021-01-04 오후 4 09 53](https://user-images.githubusercontent.com/1606820/103513139-55c1b900-4ead-11eb-98

[2021-01-04 08:12] ashachaf commented on #780
IF the side menu on desktop opens up on mouse over, there is no real need for the arrow at the top.
as for mobile menu, if https://streamable.com/22sf5o takes too much work to implement, keep your solution. however, if the delta is small, consider implementing it this way.

[2021-01-04 09:05] ashachaf commented on #90
we can have the same setup than.
when clicking on the ETH balance in the swap window, deduct 0.01eth from the amount you input the field.

[2021-01-04 09:12] ashachaf commented on #775
poolAvailableSpace indicates how much tkn and bnt can be staked.
it does not indicate how much bnt you need to stake in order to have room for 1tkn.

[2021-01-05 05:44] sirius651 commented on #780
https://user-images.githubusercontent.com/1606820/103610262-0938b500-4f63-11eb-9f29-582bca96a2e4.mp4

It's a recorded video reflecting your suggestion. pls give me thoughts for this @ashachaf
And, I'm also thinking of https://streamable.com/22sf5o . maybe creating new task.

[2021-01-05 06:04] Velua commented on #727
Just been doing some more experimenting today, looks like Uniswap will simply hard code a massive amount for approval which makes it so that users don't have to do it often.

Only if they detect failure on setting a massive amount will they do the amount getting traded.

Uniswap doesn't appear to actually be checking to see if setting 0 is required, from my experience on the UI it will actually fa

[2021-01-05 06:23] Velua commented on #727
I'm thinking we record the contracts which require the 0 approval client side then move it over to the API afterwards.
As majority of tokens introduced going forward won't require this so we shouldn't have to maintain this too often.

[2021-01-05 07:20] sirius651 opened #793 "Horizontal scrollable menu bar on mobile view"
**Is your feature request related to a problem? Please describe.**
Related with #780

**Describe the solution you'd like**
https://streamable.com/22sf5o
Switching to horizontal scrollable menu from current dropdown concept

[2021-01-05 08:12] ashachaf commented on #727
approve large amount will have a different task for it (working on the design).
are we positive there is no way to program the process that knows to set approve 0 when needed? maintaining a list of tokens is not ideal.

[2021-01-05 08:16] ashachaf commented on #780
few comments:
desktop:
- are we able to implement the side menu expand on mouse over? this means it will open up on mouse over and close once mouse is away.
- this is a video how how it should behave on desktop https://streamable.com/heri7y

mobile:
- we can keep the current solution
- will open a new task to update it to behave like this https://streamable.com/22sf5o

[2021-01-05 09:46] ashachaf commented on #676
@pingustar @Velua @H34D
please review the task details and provide feedback.

[2021-01-05 10:00] Velua commented on #676
What's an indicated wallet? @ashachaf

[2021-01-05 10:07] ashachaf commented on #676
the connected wallet you are checking the data for.

[2021-01-05 10:27] Velua commented on #727
Not that I've found, how much maintaining do you foresee? Are more tokens with contracts that require the 0 approval being introduced to the chain?

[2021-01-05 10:31] yudilevi commented on #727
Unfortunately there's no way to actually tell programmatically. I doubt any new tokens with the 0 approval thing are added so we can go with the token list approach and adjust it with time to cover more tokens. Not ideal but probably the best we have.

[2021-01-06 03:50] Velua commented on #726
@H34D I'm having issues getting the ```estimateGas``` function to work, can you attempt it on your machine in case there's some Web3 issue?

[2021-01-06 05:02] Velua commented on #727
I've now hard coded the token contracts from this list that require null approval. Any token contract not included in the list will be assumed that 0 null approval is not required.

Should the normal approval transaction fail for any other reason other than the user rejecting it, the app will behave as if the token contract does require a 0 null approval for the session, that way if this list isn'

[2021-01-06 05:06] Velua opened #795 "Resume Error Tracking"
Sentry was either disabled or minimised, return it to better use and track error in PR from #727

[2021-01-06 05:26] sentry-io[bot] opened #796 "Unknown param being sent to nativeBalanceChange"
Sentry Issue: [BANCOR-OI-18N](https://sentry.io/organizations/bancor-oi/issues/2122423672/?referrer=github_integration)

[code]

[2021-01-06 05:27] Velua commented on #796
```nativeBalance``` should be the users balance in Wei however seeing this error it appears that this is not always the case.

I've now started logging the param that comes through hoping Sentry will send it over.

[code]

[2021-01-06 05:46] #446 closed

[2021-01-06 05:53] Velua commented on #501
Are we still looking out for this? We're essentially sending all errors to Sentry atm.

[2021-01-06 06:30] sirius651 commented on #780
I'm currently implementing this with transition. also created new task #793

[2021-01-07 06:52] sirius651 commented on #780
https://user-images.githubusercontent.com/1606820/103860993-08895580-5100-11eb-9011-f6c41eb618b0.mp4

I improved it based on your suggestion @ashachaf . give me feedback please.

[2021-01-10 05:33] Velua commented on #780
This is now in staging @ashachaf

[2021-01-10 06:02] Velua commented on #780
Is the Bancor logo meant to go away when minimised? As without it the links move and make it a bit tedious.

[2021-01-10 06:06] Velua commented on #780
https://user-images.githubusercontent.com/8017434/104115698-a7f75400-535d-11eb-925c-fd685b900c30.mov

I'm finding when I mouse over one menu, the links will shift and then suddenly my mouse is hovering over another menu instead.

[2021-01-10 06:06] Velua commented on #780
@sirius651 let's tackle this tomorrow.

[2021-01-10 06:36] #727 closed

[2021-01-10 06:37] Velua commented on #346
RX.JS currently in place, won't go further down this rabbit hole and will await to see what our options are when we receive the new API.

[2021-01-10 06:37] #346 closed

[2021-01-10 06:41] Velua commented on #151
@pingustar can we close this?

[2021-01-10 08:07] ashachaf commented on #780
1. bancor logo should always be visible. top section should not fold with the menu
![image](https://user-images.githubusercontent.com/40430285/104117485-4f5a9380-532a-11eb-83f2-e88856dee932.png)
2. closed view, icon should be centered in the selected area (how it is on open mode)
current: ![image](https://user-images.githubusercontent.com/40430285/104117501-7022e900-532a-11eb-8ce3-e75b4daf9f1d.png

[2021-01-10 16:29] ashachaf opened #797 "data table - API for faster loading"
we would like to pull information from the API instead of the blockchain directly to improve load times.

API endpoint for all tokens/pools data (suited for the main data table):
http://bancor-api.nw.r.appspot.com/welcome

sample response:
statistics:
[code]

pools data:
[code]

tokens data:
[code]

swaps:
[code]

[2021-01-10 16:29] ashachaf commented on #797
@Velua

[2021-01-10 20:15] nhindman23 opened #798 "Timer on my stake is off"
I just deposited link and for some reason my timer shows 18d until vesting, when it should say 30d

![image](https://user-images.githubusercontent.com/53524917/104134271-3933ee00-5391-11eb-9838-ab5a92c8ca76.png)

[2021-01-11 08:16] ashachaf commented on #798
expand the group to see all positions.
we mark the "oldest" position vesting in the grouped view.

[2021-01-11 08:18] sirius651 commented on #780
![스크린샷 2021-01-11 오후 5 13 28](https://user-images.githubusercontent.com/1606820/104158336-74d1c500-5430-11eb-9ffa-f5c806fce66f.png)

![스크린샷 2021-01-11 오후 5 11 39](https://user-images.githubusercontent.com/1606820/104158342-7a2f0f80-5430-11eb-8546-1a7c6208bc99.png)

regarding mobile view, why don't we use arrow indicator rather than blur things? @ashachaf

[2021-01-11 08:30] H34D commented on #726
i will take a look at it

[2021-01-11 08:42] Velua commented on #676
Let's put this on pause now, awaiting further information from @ashachaf

[2021-01-11 08:46] Velua commented on #780
@sirius651 Had a chat with @ashachaf  we reckon the blurryness would still be the way to go, lets see it in action and see what it looks like.

[2021-01-11 09:01] sirius651 commented on #780
Okey, because when I tried blur first, it's not clearly distinguished. will look more into it again.

[2021-01-11 11:41] ashachaf commented on #676
@Velua @pingustar @H34D
lets discuss.
https://docs.google.com/document/d/1KOVa-73JEdCvE6LhSWBnIbrF0ezfeaUQBtd2HdRcAe8/edit#

[2021-01-11 13:08] ashachaf opened #800 "maintenance - disable stake/unstake from protection"
we would like to plan for a maintenance that would disable the option to stake/unstake from protection.

we need to upgrade thee contracts which might result in some down time.
during this down time, we should do the following:
1. disable the option to stake into pools
- data tab - pools that are white listed and clicking the + opens stake for protection (single side staking)
- protection page - s

[2021-01-12 05:05] Velua commented on #797
- [ ] pools - pool version, pool token supply
- [ ] tokens - token precision,

Awaiting a bit more from the API before we can switch over.

[2021-01-12 05:09] Velua commented on #800
When should maintenance mode be activated? Based on a time schedule or do we want to make specific app deployments to turn off and on? Or have it based on an external resource?

[2021-01-12 05:13] Velua commented on #800
## To Do
Create a hardcoded  boolean getter ```stakeMaintenanceMode``` in Vuex.
Have the app reflect the changes as per Figma when ```stakeMaintenanceMode``` is ```true``` and normal when it is ```false```

[2021-01-12 05:14] Velua commented on #798
Considering this by design and not a bug, let me know if otherwise.

[2021-01-12 05:14] #798 closed

[2021-01-12 05:14] Velua commented on #726
Awesome, let me know how you go @H34D

[2021-01-12 05:15] Velua commented on #676
Permission requested from my eosi*****@gmail.com account

[2021-01-12 08:05] Ran73Cohen commented on #800
I will take on this assignment

[2021-01-12 08:58] H34D commented on #726
i wrote some code but got stuck when testing it against ropsten

[2021-01-13 07:33] Velua commented on #797
Received those ones now, looking good.

I've now asked for the transaction hashes on the swaps.
Page loading going faster and old system not used for the page data, however, still used behind the scenes when it comes to conversions, adding liquidity and things like that.

[2021-01-13 07:39] Velua commented on #726
Can do this on mainnet, such promise should resolve before you have to accept signing any transactions.

[2021-01-13 08:00] Velua opened #806 "Ropsten contracts mismatched against mainnets"
Current understanding is that ropsten contracts aren't as updated as the mainnet versions causing a mismatch in the environment and the app failing to work properly when in ropsten mode hindering testing/development.

[2021-01-13 08:09] Velua commented on #797
So remaining requests for the API

- [ ] Tx Hash included on swaps
- [ ] I believe the users account performing the trade on the swap is included but sometimes has a bunch of zeros included, would be cool if that could be removed
- [ ] May omit ```from_symbol```, ```to_symbol``` and ```symbol``` from things like ```pools``` and ```swaps``` properties, however, keep them on the ```tokens``` one.

[2021-01-13 08:20] Ran73Cohen commented on #330
@ashachaf wanted to take it but it seems like changes were made
close?

[2021-01-13 10:05] H34D commented on #726
i don't have funds so the frontend wont let me through at all

[2021-01-13 10:14] H34D commented on #726
Right now we hardcore the estimated gas to 70k here

[code]

A better solution would be to use the estimate gas method. This requires the ABIs to be precise otherwise web3 will not be able to estimate properly and created failed txs. For the approve method it is mostly likely that the ABI is precise.

[code]

the best solution would be to not supply a gas limit and let web3 decide what to put.

[2021-01-13 11:24] AdamOnChain opened #807 "Abnormally high gas fee triggered in Metamask on YFI > BNT swap"
After approving YFI to BNT swap the Metamask prompt to confirm swap appeared with a gas fee of $803.

To Reproduce

Try to convert BNT to YFI on bancor.network, approve TX and then try to convert the tokens.

Expected behavior

Prompt to confirm TX with high gas fee appears.

![image](https://user-images.githubusercontent.com/39331256/104445826-4b38ab00-55a2-11eb-9830-129ff2467417.png)

Additional

[2021-01-13 13:02] yudilevi commented on #585
The popup is still waiting for 1 block instead of showing the tx hash immediately.

[2021-01-13 19:07] yudilevi opened #808 "EOS swap failing"
User reported that an "Error: Failed to fetch" error shows up when trying to swap IQ to EOS.
It might be the case in other tokens.

The error is shown here:
![image](https://user-images.githubusercontent.com/1134236/104497632-910d6780-55d2-11eb-86d7-0c621f79cb08.png)

[2021-01-13 20:19] ashachaf commented on #726
can you deploy to staging so we can check the estimations it gives?

[2021-01-14 06:09] Velua commented on #726
Yes and does the ```estimateGas``` method actually work though? Or does it throw?

[2021-01-14 06:09] Velua commented on #585
What kind of transaction do you see this on?

[2021-01-14 06:11] Velua commented on #330
Just compare this against the current mockups in Figma to confirm you're not making any out-dated changes.

[2021-01-14 06:13] Velua commented on #780
How is this going?

[2021-01-14 07:01] sirius651 commented on #780
This https://github.com/bancorprotocol/webapp/pull/799 is for this issue

[2021-01-14 07:28] H34D commented on #726
i was not able to test it because ropsten is not available

[2021-01-14 07:30] H34D opened #809 "Fetch Rewards information from the Rewards contract instead of hard coding it in the frontend"
Right now the rewards calculation happens in the frontend. Change this to use the smart contracts instead as described in this document:

https://docs.google.com/document/d/1KOVa-73JEdCvE6LhSWBnIbrF0ezfeaUQBtd2HdRcAe8/edit

[2021-01-14 07:34] H34D opened #810 "Implement Claiming of Rewards"
Implement Claiming of Rewards as described in this document:

https://docs.google.com/document/d/1KOVa-73JEdCvE6LhSWBnIbrF0ezfeaUQBtd2HdRcAe8/edit

[2021-01-14 08:21] Velua commented on #797
Swaps information is a tad bit verbose and an opportunity to save on further bandwidth.

In the current swaps we can find several of them with the same ```transaction_hash``` one for each hop, lets condense this down to the starting ```from``` token to the terminating ```end``` token, skipping all the hops between.

- [ ] Condense swaps API and ensure each ```tx_hash``` is then unique.

[2021-01-14 08:44] ashachaf opened #812 "pool icon layout break on smaller screens"
open data table
make your screen smaller

![image](https://user-images.githubusercontent.com/40430285/104565775-73cdad00-5655-11eb-8447-f2bb0e3bc89f.png)

[2021-01-14 09:09] Velua commented on #726
Use mainnet, write whatever dodgy code you need to skip the frontend warnings or roadblocks. I'm trying to determine if such a function throws on your environment compared to mine.

[2021-01-14 09:10] Velua commented on #797
@ashachaf API now on staging, some things that would be good to test

- [ ] Protections
- [ ] Token swapping

Let me know if you see any issues, will check in with you tomorrow.

[2021-01-14 10:04] yudilevi commented on #585
The actual swap (not approve).

[2021-01-14 10:29] Ran73Cohen commented on #768
@ashachaf  All of them are fast for me check it again to make sure and we can close this

[2021-01-14 11:30] Ran73Cohen opened #814 "Some coins cause an error when trying to swap"
Go to swap tab
Select USDC (from)
Select OCEAN (to)

Error - execution reverted
![image](https://user-images.githubusercontent.com/51334627/104584482-586d9c80-566b-11eb-8c09-bf897394e6c9.png)

When switching this error will pop (and catched) every time because it is trying to recalcualte the rate in SwapAction.vue:334
With ETH and BNT this issue doesn't happen

[2021-01-14 11:41] yudilevi commented on #808
Note that a few days ago it worked fine.

[2021-01-14 14:33] H34D commented on #726
i did that, i will give it another check against ropsten when its back

[2021-01-14 16:30] Ran73Cohen opened #815 "i18n support"
Related to #297
I added support for i18n in [i18n_support branch](https://github.com/bancorprotocol/webapp/tree/feature/i18n_support)
Whats left to do?

- [x] Create the base english file with all the keys and sentences and reference it across the code

- [ ] Decide on the UI for switching between locales

After that we can simply copy the en.ts file to any other language and translate the sentenc

[2021-01-14 19:57] ashachaf commented on #797
testing on staging.
### when my loading page is:
#### /data/
1. row height jumps once rewards are loaded
https://streamable.com/93cvp8

#### /swap/
2. the balance and rates do not load
![image](https://user-images.githubusercontent.com/40430285/104605206-dbe8b700-5686-11eb-9477-428b32334f03.png)
3. after some playing with the tokens, ETH balance shows up and rates. other balances are not showing.

[2021-01-14 20:34] ashachaf commented on #797
api changes:
![image](https://user-images.githubusercontent.com/40430285/104646021-8fb66a80-56b8-11eb-89b1-62b3282db9f8.png)
![image](https://user-images.githubusercontent.com/40430285/104646015-8d541080-56b8-11eb-8b1a-7da4fd7cc83e.png)

[2021-01-14 20:41] ashachaf commented on #768
seems that the new API is fixing this issue.

[2021-01-14 20:41] #768 closed

[2021-01-14 21:22] #273 closed

[2021-01-14 21:24] ashachaf commented on #293
@Velua i think we can close this issue at this stage.

[2021-01-14 21:24] #293 closed

[2021-01-14 21:30] ashachaf commented on #189
@Velua can we close this?

[2021-01-14 21:30] #189 closed

[2021-01-14 21:31] Velua commented on #189
Yeah all good

[2021-01-14 21:35] Velua commented on #815
Could have just jumped on the original issue of #297 instead of creating another, be sure to assign yourself to this as well if you're working on it.

See if you can import via ```import { i18n } from "@/whatever/i18n/i18n";``` instead of relative pathing.

Create a PR of your branch against staging and mark as a draft if you're not finished yet, makes it nice and obvious what a branch is doing. Y

[2021-01-14 21:36] Velua commented on #726
So it worked on mainnet? You got a estimate number back?

[2021-01-14 21:36] ashachaf commented on #497
@pingustar
i am unable to reproduce. please close if not needed.

[2021-01-14 21:37] Velua commented on #814
and this happened on prod and not staging?

[2021-01-14 21:37] #641 closed

[2021-01-14 21:54] Velua commented on #585
@sirius651 it appears ```resolveImmediately``` isn't set on the convert transaction.

Can you also ensure that balance checks are getting triggered after a block confirmation and not getting fired before, it looks like we're open to this.

I've created this [PR](https://github.com/bancorprotocol/webapp/pull/816) , please go through the code and utilise the ```onConfirmation``` call back in any cas

[2021-01-14 22:04] Velua commented on #296
This has completely changed given the API stuff, to do would be awaiting

- [ ] Protected positions loading
- [ ] Pools and tokens loading
- [ ] Pool APRs loading

[2021-01-14 22:05] Velua commented on #331
@Ran73Cohen make sure these issues are still present against the modern mockups we have before doing any work.

[2021-01-14 22:06] Velua commented on #129
Same thing, confirm this is still a present issue.

[2021-01-14 22:06] Velua commented on #129
@Ran73Cohen

[2021-01-14 22:15] Velua commented on #521
Now in staging.

[2021-01-14 22:15] #521 closed

[2021-01-15 05:24] Velua commented on #797
@ashachaf

- BNT price
- Liquidity depths
- Less pools

are all covered by the API so will need to look at those issues on the API level. Still yet to see the code so can't make any changes myself.

Looking at the rates... I think I know a potential problem, we've also recognised a fault in balance checking after transactions.
Unable to replicate protected positions not showing up but will continu

[2021-01-15 07:36] Velua commented on #797
[code]

are missing BNT pools

[2021-01-17 07:30] Ran73Cohen commented on #814
Happened on staging

[2021-01-17 15:07] ashachaf commented on #726
@H34D
lets try to put this on staging

[2021-01-18 19:00] ashachaf commented on #492
this task is on hold for now

[2021-01-18 21:58] ashachaf opened #820 "cel token balance not showing"
cel token balance not showing in the webapp.
token address: 0xaaaebe6fe48e54f431b0c390cfaf0b017d09d42d

[2021-01-19 01:44] Velua opened #821 "GTO trade has ridiculously high value"
![Screenshot at 2021-01-19 11:44:00](https://user-images.githubusercontent.com/8017434/104977607-a4458a80-5a4b-11eb-957c-051cdbe5900e.png)

Trade with tx hash 0x1e0b26077435656a42d3e648fb9dbf5d1422c63d435cf4126066ef1e1bfba0e7 appears to be valued as a huge amount when it looks like it shoudln't be anymore than $18.

[2021-01-19 02:48] Velua commented on #820
Fixed on staging, dependent on the new API.

[2021-01-19 02:49] Velua commented on #821
This is because the converter has a small amount of BNT and a minuscule amount of GTO.
I've fixed the high value on the swap and hard coded the volume for now, this will all change upon final adoption of the API.

[2021-01-19 02:49] #821 closed

[2021-01-19 07:44] ashachaf commented on #820
bad dependent.
can we push to prod before the api?

[2021-01-19 08:18] #695 closed

[2021-01-19 13:54] ashachaf opened #823 "MFG token update"
logo update:
![Token Image_mfg](https://user-images.githubusercontent.com/40430285/105043741-935a4080-5a6e-11eb-9330-9ca19234f097.png)

display name (if possible):
Smart MFG (MFG)

[2021-01-19 19:56] pingustar commented on #676
**Current Status Update:**

- `claimRewards` branch is deployed to staging **manually**. I didnt want to merge it into staging branch yet.
- rewards is getting close and I can finish the rest tomorrow
- **Claim Rewards Features are NOT tested yet**
- the api has been updated and broke the frontend at multiple fronts. I believe something with decimal/precision got changed.

**To Do:**
- @Velua revi

[2021-01-20 03:27] sirius651 commented on #749
Reproduce :
Trust wallet in android (iOS app does not support dapp browser) > Dapp > Bancor web > Connect to 'trust wallet' > Add liquidity (single sided) > balance is not updated

Another issue is that It looks slow compared to other apps. but, how to debug this in dapp browser?

[2021-01-20 07:43] sirius651 commented on #592
Found out that the current `bnc-onboard` library already supports walletlink. so, it would be shown during the wallet connect.

[2021-01-20 07:59] #585 closed

[2021-01-20 08:01] #780 closed

[2021-01-20 08:01] #793 closed

[2021-01-20 08:01] #592 closed

[2021-01-20 08:05] #151 closed

[2021-01-20 09:32] H34D commented on #726
ok

[2021-01-20 16:24] H34D commented on #726
finally tested against ropsten, it sits in a feature branch because staging is not functional right now

[2021-01-20 18:18] ashachaf opened #838 "side menu close/open - tablet screens"
**Describe the bug**
on medium size screens,  the closed menu allow more space for the table (this is good). but when this happens, the logo overlap the text.

**To Reproduce**
open protection table in "tablet view"
![image](https://user-images.githubusercontent.com/40430285/105217461-903d7e00-5b5c-11eb-998e-ab20ebee1e0b.png)
![image](https://user-images.githubusercontent.com/40430285/105217502-9a

[2021-01-20 18:20] ashachaf commented on #838
@sirius651

[2021-01-21 09:25] H34D commented on #726
i gave it another test and brought down the gas limit by more than 100k on the convertByPath operation.

before:
<img width="455" alt="Screenshot 2021-01-21 at 10 22 42" src="https://user-images.githubusercontent.com/13647606/105330676-dc2b0a00-5bd2-11eb-804d-b1a561d54d2c.png">

after:
<img width="452" alt="Screenshot 2021-01-21 at 10 22 47" src="https://user-images.githubusercontent.com/13647606/

[2021-01-21 09:26] yudilevi commented on #726
great!

[2021-01-21 17:59] Ran73Cohen commented on #253
@ashachaf
This is pretty old, I went over and with every issue its either the changes were made or the design is very different
The only thing I found that wasn't in staging was this

It will look like this
![image](https://user-images.githubusercontent.com/51334627/105391252-9b5ae180-5c22-11eb-9b65-7a0dc48ae9c8.png)

Should we close this?

[2021-01-22 03:52] Velua commented on #820
Fixed

[2021-01-22 03:52] #820 closed

[2021-01-24 11:30] #253 closed

[2021-01-24 14:10] #297 closed

[2021-01-25 04:36] Velua commented on #800
How is this going @Ran73Cohen  ?

[2021-01-25 05:20] Velua opened #850 "German language support"
Lets show some love to the Germans by supporting the language when this [PR](https://github.com/bancorprotocol/webapp/pull/817) ships!

![giphy](https://user-images.githubusercontent.com/8017434/105664550-ac586b00-5f20-11eb-998f-796bf6f9dc2f.gif)

[2021-01-25 05:24] Velua opened #851 "Korean language support"
Following PR 817 lets support Korean!

![giphy (1)](https://user-images.githubusercontent.com/8017434/105664869-749df300-5f21-11eb-86b5-29e667a80f53.gif)

[2021-01-25 05:31] sirius651 commented on #851
wowww red devils lol

[2021-01-25 05:31] #838 closed

[2021-01-25 07:47] Velua opened #852 "Flakey download bad gateway error on Web3"

[2021-01-25 08:29] pingustar commented on #386
closed

[2021-01-25 08:29] #386 closed

[2021-01-25 08:31] pingustar commented on #408
`prettifyNumber` function needs to be updated to round down (truncate)

@Ran73Cohen do you want to have a swing at that?

[2021-01-25 08:32] pingustar commented on #395
closed.

[2021-01-25 08:32] #395 closed

[2021-01-25 08:46] pingustar commented on #640
@Ran73Cohen this can be a good challenge, tricky one. Lets see if you can get to the bottom of this. Feel free to ask for help.

[2021-01-25 09:03] pingustar commented on #852
![image](https://user-images.githubusercontent.com/7262066/105683704-3807d280-5ef4-11eb-9310-fc15318106a4.png)

Network: **Ropsten** ( could not test on mainnet as contracts are not deployed yet. )

Not sure if it is related or not but I was doing lots of TX on Ropsten, and every now and then the above error was thrown and the protected table didnt render, as well as the protected shield on data t

[2021-01-25 09:43] Velua commented on #775
@ashachaf There's a clarification we'd like to make on performing the calculation, @Ran73Cohen will be engaging you.

@Ran73Cohen
- [ ] Export all maths logic Asaf has got for us into a pure function
- [ ] Write two tests for this, one that Asaf has demonstrated for us and try out another.

Once we're happy with the maths results we'll proceed with finishing this off.

- [ ] Expand on the method a

[2021-01-25 10:16] Velua commented on #257
In the last crazy updates I believe this loading indication has broken or can at least be improved.

The app first learns of the position amount before the positions themselves.

@pingustar
Can we have these position components support a... loading prop? Which acts as a placeholder while the actual positions are being pulled.
So first the page will be

Loading, then
Say 4 place holders there, illu

[2021-01-25 10:18] Velua commented on #257
I'll work on delivering the position count as coming in and a loading getter if there isn't one there already.
The previous racing condition is unlikely to be an issue now that the app waits for the API response before going through, so we'll already have all the pools known, this previously created some issues.

[2021-01-25 16:04] ashachaf commented on #385
@Ran73Cohen just changing the title of the popup when it is single side staking

[2021-01-26 05:23] Velua commented on #101
Closing as we're not supporting this for V2 pools now.

[2021-01-26 05:23] #101 closed

[2021-01-26 05:25] Velua commented on #90
Fixed in https://github.com/bancorprotocol/webapp/commit/5cfae1aaad16d1a71af9dea66f4193f4e857e9f4

[2021-01-26 05:25] #90 closed

[2021-01-26 05:26] #123 closed

[2021-01-26 05:27] Velua opened #853 "https://etherscan.io/address/0x7ff10d4add8c9c2f5e47798cd60544ad91c1f4ec"
https://etherscan.io/address/0x7ff10d4add8c9c2f5e47798cd60544ad91c1f4ec

Please check this pool, its need to appear somewhere, i created it then disappear

Thx

_Originally posted by @StrateVic in https://github.com/bancorprotocol/webapp/issues/126#issuecomment-744598149_

[2021-01-26 05:27] #126 closed

[2021-01-26 05:30] Velua commented on #207
Haven't been able to reproduce on new version.

[2021-01-26 05:30] #207 closed

[2021-01-26 05:38] Velua commented on #216
Conversions now driven by API.

[2021-01-26 05:38] #216 closed

[2021-01-26 05:40] #239 closed

[2021-01-26 08:00] pingustar commented on #257
@Velua sounds good. Will get started on this once my current task (rewards inside the protected table) is done.

[2021-01-26 08:06] #385 closed

[2021-01-26 10:22] Ran73Cohen commented on #823
Done [here](https://github.com/Velua/eth-tokens-registry/pull/14)

[2021-01-26 10:22] #823 closed

[2021-01-26 14:00] ashachaf commented on #257
option 1:
IF wallet positions > 0, show a big loading animation until the data is ready to display
![loading animation-01 4](https://user-images.githubusercontent.com/40430285/105852642-64534a00-5fed-11eb-89e6-aff8a5c2e566.png)

option 2:
IF wallet positions > 0, show a protection page with place holders in the relevant places
mockup TBD

[2021-01-26 17:58] pingustar commented on #257
added a simple loading animation until further details provided

[2021-01-26 17:58] #257 closed

[2021-01-26 18:00] pingustar commented on #531
I think this can be closed. Please reopen if further work required.

[2021-01-26 18:00] #531 closed

[2021-01-26 18:06] #497 closed

[2021-01-27 08:39] ashachaf commented on #676
@pingustar
#### bug:
"withdraw" text doesnt show up on dark mode
![image](https://user-images.githubusercontent.com/40430285/105964969-8f8c7680-608b-11eb-9024-0d393ecd6454.png)

#### bug:
Rewards amount and "BNT" jump left to right with the numbers. please try to set them in fix positions so they do not move.
https://streamable.com/w7xfel

#### text change:
please update the main protection page:

[2021-01-27 08:44] ashachaf opened #858 "claim rewards - update restake to stake"
we would like to change the word "restake" to "stake"
protection table:
![image](https://user-images.githubusercontent.com/40430285/105965630-54d70e00-608c-11eb-81e9-c0d09a446fe5.png)

restake popup:
![image](https://user-images.githubusercontent.com/40430285/105965674-63252a00-608c-11eb-9f4e-0f72b83d8140.png)

withdraw popup:
- warning text
**current:** Withdrawing rewards will reset your rewards

[2021-01-27 08:44] Velua commented on #37
@pingustar another stale one, please validate what we're doing with it and hand over to @Ran73Cohen if it makes sense.

[2021-01-27 08:44] ashachaf commented on #858
@pingustar

[2021-01-27 08:48] ashachaf opened #859 "claim rewards - fee column text changes"
protection table:
column name change:
current: Fees
updated: Fess & Rewards

tool tip:
current: Fees your stake has earned since you entered the pool.
updated: Fees and rewards earned by your stake since you entered the pool.

[2021-01-27 08:48] ashachaf commented on #859
@pingustar

[2021-01-27 08:53] Velua commented on #108
@pingustar Same deal, confirm this remains a thing and if able assign to @Ran73Cohen

[2021-01-27 08:57] Velua commented on #140
@pingustar please validate this one, not sure if these screen shots are too stale to work with anymore. Assign to @Ran73Cohen if you can.

[2021-01-27 08:57] #324 closed

[2021-01-27 08:58] Velua commented on #142
@pingustar bump

[2021-01-27 08:59] Velua commented on #814
Determine what function exactly is getting thrown to create this error and review parameters sent, can discuss your findings tomorrow @Ran73Cohen

[2021-01-27 09:00] Velua commented on #810
Seems like this is made redundant by #676

[2021-01-27 09:00] #810 closed

[2021-01-27 09:02] Velua commented on #766
@Ran73Cohen See if you can detect the change that @ashachaf creates when he speeds up a transaction, might be able to listen to it as we are with the ```.on("``` use in the ```resolveTxOnConfirmation``` method in ```ethBancor.ts```

[2021-01-27 09:06] Velua commented on #733
@Ran73Cohen we want to decommision ```RemainingTime2.vue``` and get away with it's forked component ```RemainingTime.vue``` instead, currently ```RemainingTime2.vue``` is used by ```ProtectedTable.vue```

See if you can replace it with ```RemainingTime.vue``` instead, use props to make it more reusable if you need too. Too much code duplication to warrant a 2nd component long term.

[2021-01-27 09:09] pingustar commented on #676
text and button is fixed.

[2021-01-27 09:19] pingustar commented on #859
done.

[2021-01-27 09:19] #859 closed

[2021-01-27 09:21] #132 closed

[2021-01-27 09:22] Velua commented on #523
Now pulling from API, this is redundant.

[2021-01-27 09:22] #523 closed

[2021-01-27 09:23] pingustar commented on #858
done

[2021-01-27 09:23] #858 closed

[2021-01-27 09:40] pingustar commented on #733
The `RemainingTime2.vue` will not be needed anymore once I get around to update the protected table to fully match the mockups.

[2021-01-27 09:45] pingustar commented on #35
@Ran73Cohen only task left here is:

- [ ] add USD value

[2021-01-27 10:25] Velua commented on #733
Okay so this is best kept under your wing?

[2021-01-27 13:43] ashachaf opened #861 "protection table - how to claim rewards when there are no active positions"
**Describe the bug**
if a user opened protected positions, remove them and receive rewards, there is no option for him/her to claim the rewards as we only load the page when protected positions >0.

**To Reproduce**
Steps to reproduce the behavior:
1. create a protected positions on a pool with rewards
2. wait few min to receive rewards
3. withdraw the entire position
4. claim BNT (if needed)
5. t

[2021-01-27 14:01] ashachaf opened #862 "loading time and performance issues"
initial load is much faster now, but some data takes up to 45+ seconds to load.
@Velua

https://streamable.com/t5ekug

[2021-01-27 14:29] #812 closed

[2021-01-27 14:31] #393 closed

[2021-01-27 15:00] Ran73Cohen commented on #394
Fixed [here](https://github.com/bancorprotocol/webapp/commit/073687e69fec6a192f207cb5fdeda4b20b00dc6f)

[2021-01-27 15:00] #394 closed

[2021-01-27 15:11] Ran73Cohen commented on #775
![image](https://user-images.githubusercontent.com/51334627/106010790-81a61800-60c2-11eb-99ee-3cc4663138eb.png)

This is the result I got from WBTC pool
@ashachaf Is this number legit?

[2021-01-27 15:26] pingustar commented on #861
@ashachaf sounds good. One question though:

this seems outdated. Should we keep it, remove it or change it?

![image](https://user-images.githubusercontent.com/7262066/106012949-40126e80-60bc-11eb-97c9-0863dbfe549b.png)

[2021-01-27 16:30] ashachaf opened #864 "protection table - fee column shows 0"
**Describe the bug**
on the protection table, many positions are reported to show fees value as 0.

related to task #531

position 1298.
function removeLiquidityReturn(1298, 1000000, 1893456000)
returns:
- uint256 :  10107821463534933095
- uint256 :  10107821463534933084
- uint256 :  0

function protectedLiquidity(1298)
returns:
- address :  0x5f7a009664B771E889751f4FD721aDc439033ECD
- address :

[2021-01-27 16:31] ashachaf commented on #864
@pingustar @Ran73Cohen

[2021-01-27 17:24] pingustar commented on #864
fixed.

[2021-01-27 17:24] #864 closed

[2021-01-28 06:26] sirius651 opened #867 "Refactor DoneProposal component to support mobile responsive"
**Is your feature request related to a problem? Please describe.**
DoneProposal component is not providing mobile responsive

**Describe the solution you'd like**
Should refactor following to current OpenProposal component with LayoutProposals

[2021-01-28 06:28] Velua commented on #862
I've been able to speed this up in my dev environment, will require a bit more work till it's fit for prod.

[2021-01-28 09:56] H34D commented on #726
given up for #866

[2021-01-28 09:57] H34D commented on #726
done

[2021-01-28 09:57] #726 closed

[2021-01-28 09:59] ashachaf opened #875 "voting quorum - adding indication to active votes"
**Describe the bug**
when the vote is in progress, the quorum is not visible.

![image](https://user-images.githubusercontent.com/40430285/106118587-ef068700-615c-11eb-9796-59419323a9be.png)

please include quorum to active votes as well.

[2021-01-28 10:04] ashachaf opened #876 "protection table - stats section update"
currently, we show ROI in the stats section.
this number is not accurate enough and we would like to replace it with total fees.

**current:**
![image](https://user-images.githubusercontent.com/40430285/106121723-8d481c00-6160-11eb-816d-82a89e98723a.png)

**updated:**
![image](https://user-images.githubusercontent.com/40430285/106122340-46a6f180-6161-11eb-9c72-382e9c87aba4.png)

**calculation:**
t

[2021-01-28 11:07] #861 closed

[2021-01-28 13:17] Ran73Cohen commented on #814
Doesn't happen anymore the exception was because of an API error.

File
SwapAction.vue

Method:
calculateRate

API Call:
vxm.bancor.getReturn

Leads to:
@action async getReturn(proposedTransaction: ProposedFromTransaction) {
    return this.dispatcher(["getReturn", proposedTransaction]);
}

Closing

[2021-01-28 13:17] #814 closed

[2021-01-28 15:09] pingustar opened #882 "Tx fails due to decimal number in wei"
![telegram-cloud-photo-size-4-5805429912033670571-y](https://user-images.githubusercontent.com/7262066/106157559-225c0c80-6183-11eb-804f-147762d0aed9.jpg)

[2021-01-28 15:26] pingustar commented on #882
fixed and on staging.

Issue was the gas estimate using a multiplier producing a decimal number instead of an integer

[2021-01-28 15:26] #882 closed

[2021-01-28 15:32] pingustar commented on #876
@ashachaf if ROI isn't accurate in the summary view, then it isn't accurate in the table as well?!

[2021-01-28 15:39] pingustar commented on #876
after feedback from @ashachaf

just fees without rewards. ROI data is accurate but the stake summary should show USD value of all fees accumulated.

[2021-01-30 09:01] yudilevi opened #886 "Dropdown menu - switch the order of the community/developers section and rename community section"
Many users get into the dev group chat and ask for support since it's the first link.

The community section should be first and should be renamed to "Community & Support".
And only then the developers section.

[2021-01-30 11:26] yudilevi opened #887 "Crash in the protection page"
User reported: protection page doesn't load positions, all numbers are 0 or n/a and the page only shows loading animation.
The user has a single ETH option position.

![image](https://user-images.githubusercontent.com/1134236/106355126-ff9a3700-62ed-11eb-85f1-363a2e6a147b.png)

[2021-01-30 16:41] yudilevi opened #888 "Add a disclaimer about multiplers reset before removing liquidity"
When an LP removes liquidity now, there's no mention of the fact that multipliers are going to be reset, we need to add one.

@ashachaf please design.

[2021-01-30 18:35] ashachaf opened #889 "withdraw rewards confirmation popup text update"
**Describe the bug**
when you try to withdraw your rewards, the transaction confirmation popup is using the text "You are staking and protecting:"
![image](https://user-images.githubusercontent.com/40430285/106364773-38f89400-633a-11eb-92af-efb34fc2e678.png)

**To Reproduce**
1. go to protection tab
2. click "withdraw" rewards
3. proceed with "withdraw"
4. see a confirmation popup

current text: Y

[2021-01-30 18:44] ashachaf opened #890 "withdraw protected position - include multiplier reset warning"
**Describe the bug**
when a user is trying to withdraw an existing protected position, we should indicate that this would reset the rewards multiplier.

mockup:
https://www.figma.com/file/3yED7o7TgoLwoEjV2EkRLL/Bancor-V2?node-id=1443%3A1158

warning text:
"Withdrawing will reset your rewards multiplier for all active positions back to x1"

reproduce:
1. go to protection tab
2. click to withdraw an

[2021-01-31 06:39] Velua commented on #887
Can we get the users info? Unable to replicate on my end

[2021-01-31 06:51] Velua commented on #888
Duplicated in #890

[2021-01-31 06:51] #888 closed

[2021-01-31 13:05] AVShatokhin commented on #887
i am here

[2021-01-31 13:09] Ran73Cohen commented on #886
Fixed [here](https://github.com/bancorprotocol/webapp/commit/ca26b0266302672e6f52c903278f7f9e538c54b0)

[2021-01-31 13:09] #886 closed

[2021-01-31 15:00] Ran73Cohen commented on #889
Fixed [here](https://github.com/bancorprotocol/webapp/commit/e21ad2c5158227614bf46ee61bb71928ad13f8cb)

[2021-01-31 15:00] #889 closed

[2021-01-31 15:29] Ran73Cohen commented on #876
Fixed [here](https://github.com/bancorprotocol/webapp/commit/700dfe405bfed245ed7cc65284782c3ed150cadf)

[2021-01-31 15:29] #876 closed

[2021-01-31 17:50] yudilevi opened #892 "Protection page refreshes infinitely"
Occasionally, the protection page refreshes the data automatically every 10 seconds or so.
So it loads fine initially, then after 10 secs all data disappears and the loading animation shows up and this behavior repeats infinitely.
Refresh usually fixes it.

[2021-01-31 19:22] ashachaf commented on #736
gray box text spacing is off
![image](https://user-images.githubusercontent.com/40430285/106395313-4b420300-640a-11eb-902b-f168e8dc41fb.png)

[2021-02-01 03:21] Velua commented on #890
How do we recognise a multiplier? The positions pool token having a pool program?

[2021-02-01 09:24] Velua opened #899 "Update Team README.md"
Delete Sebastian from the README.md in the weekday work times section and replace it with your own city and name.

[2021-02-01 09:27] #676 closed

[2021-02-01 10:19] pingustar commented on #142
If I remember correctly, we decided to leave it as is.

@ashachaf please reopen if there is any changes required.

[2021-02-01 10:19] #142 closed

[2021-02-01 10:21] pingustar commented on #140
seems pretty outdated. Lets close this.

[2021-02-01 10:21] #140 closed

[2021-02-01 10:22] #108 closed

[2021-02-01 10:24] pingustar commented on #37
hading over to @Ran73Cohen

[2021-02-01 10:40] pingustar commented on #892
@Velua this seems to happen after `stake for protection` - does this trigger a position refresh on `onConfirmed` or something?

[2021-02-01 10:42] #532 closed

[2021-02-01 10:44] #330 closed

[2021-02-01 10:58] ashachaf commented on #775
after review, few things:
1. when switching between pools, the calculated amount needed does not change to fit the pool
2. when on TKN view, when you click on the "amount needed to open up space" value, expected to switch to BNT and input the amount
3. when on BNT view, when you click on the "amount needed to open up space" value, expected to input the amount needed and not the "space available" a

[2021-02-01 12:46] #35 closed

[2021-02-01 12:47] #129 closed

[2021-02-01 12:47] #233 closed

[2021-02-01 12:48] #800 closed

[2021-02-01 12:57] #331 closed

[2021-02-01 13:30] #899 closed

[2021-02-01 17:01] ashachaf opened #903 "v2 pool tokens - make visible"
pool tokens for these two pools should be visible and allow users to interact with them.

pool anchors:
1. linkbnt anchor: 0xA6CC5967be74A2b959D18469eBfb54ED317bC4B3
2. renbnt anchor: 0xD5aA38C6Df168741839F9E1e9c51e6d24b986970

where should this be visible?
1. go to swap
2. pool
3. your liquidity
![image](https://user-images.githubusercontent.com/40430285/106491574-ac77de00-64bf-11eb-9a62-1216f1ce

[2021-02-02 08:29] ashachaf commented on #736
looks good.

[2021-02-02 08:39] #736 closed

[2021-02-02 08:47] ashachaf commented on #775
in details example:
ocean pool token: 0xCDfF066eDf8a770E9b6A7aE12F7CFD3DbA0011B5
poolAvailableSpace function response:
ocean : 0
bnt : 1972789274644765492871418

networkTokenMintingLimits function response:
1000000000000000000000000 bnt

current balance: (need to normalize based on decimal)
2317340.673018588329242155 bnt
8128141.063498781316957537 ocean

steps in calculation:
how many bnt equal 1